%section#featured-links{:class => section_enabled_class(@team.has_featured_links?)}
  -if !@team.has_featured_links?
    -inactive_box('#featured-links', "Featured Links") do
      Interesting links about your team or product.

  -if can_edit?
    -panel_form_for_section('#featured-links', "Interesting links about your team or product.") do |f|
      %aside
        -ideas_list do
          %li Press coverage
          %li Books or articles your team has published
      .form-inputs
        %fieldset
          =f.label      :featured_links_title, 'Title of this section related to what type of links are you featuring'
          =f.text_field :featured_links_title
        %fieldset
          =link_to('Add Link & Photo','#',:class=>'photos-chooser', 'data-fit-w' => 260)
          %ul.edit-links
            =f.fields_for :featured_links do |fields|
              %li
                .image
                  =image_tag(fields.object.photo)
                  =fields.hidden_field :id
                  =fields.hidden_field :photo
                %ul.fields
                  %li
                    =fields.label :url, "URL"
                    =fields.text_field :url
                  %li
                    =fields.label :_destroy, "Remove Link"
                    =fields.check_box :_destroy

  %header.header
    %h2.heading=@team.featured_links_title
  .inside
    %ul.the-books.cf
      -@team.featured_links.each do |link|
        %li=link_to(image_tag(link.photo), link.url, :target => :new, :class => "record-exit", 'data-target-type' => 'featured-link')
  %footer.footer