= render 'shared/error_messages', target: @team
.team-form
  %h2 Your team name
  #create-team
    = form_for @team, remote: true do |f|
      .setting
        = f.text_field :name

      -if @team.new_record?
        = hidden_field_tag('team[show_similar]', true)
        .save
          %input.button{ type: 'submit', value: 'Next' }
