%section#meet-us{:style => "background-color:#{@team.branding_hex_color}"}
  %header
    %h2
      Where to meet us
  %ol.events
    %li.event.cf
      .left
        %h3
          Rubyconf
        %ul
          %li
            United States / Denver, CO
          %li
            November 1 - 3, 2012
      .date{:style => "background-color:#{@team.branding_hex_color}"}
        %p
          12
        %span
          Jul

    %li.event.cf
      .left
        %h3
          Scotland on Rails
        %ul
          %li
            United States / Denver, CO
          %li
            November 1 - 3, 2012
      .date{:style => "background-color:#{@team.branding_hex_color}"}
        %p
          30
        %span
          Apr
    %li.event.cf
      .left
        %h3
          RubyNation
        %ul
          %li
            United States / Denver, CO
          %li
            November 1 - 3, 2012
      .date{:style => "background-color:#{@team.branding_hex_color}"}
        %p
          1
        %span
          Nov
