.relic-bar
  .inside
    %h1 Level up your wardrobe with this tee!
    %p Coderwall helps you level up your skills and New Relic helps you level up your app. Now when you try out New Relic for free, they'll send you this Coderwall tee.
    %a.test-drive.track{:href => ' http://newrelic.com/lp/coderwall?utm_source=CWAL&utm_medium=banner_ad&utm_content=site&utm_campaign=coderwall&mpc=BA-CWAL-web-en-100-coderwall-website', 'data-action' => 'go get tee', :target => :new}
      Get a free Coderwall tee