-cache ['v7', team.score, team.slug, team.avatar_url, team.hiring?] do
  %li.cf{:id => dom_id(team)}
    -if team.hiring?
      %a.hiring-ribbon{:href => friendly_team_path(team)}
        %span Join Us
    .team
      %a{:href => friendly_team_path(team) }
        =image_tag(team.avatar_url, :width => 40, :height => 40)
        %span=truncate(team.name.strip, :length => 19)
    .members
      %ul
        -team.top_three_team_members.each do |member|
          %li=link_to(users_image_tag(member, :width => '40', :height => '40'), profile_path(member.username))
      -if team.size > 3
        %span="+#{team.size - 3}"
    .score
      %span=team.score.to_i