-content_for :page_title do
  ==coderwall : edit team #{@team.name}

-content_for :mixpanel do
  =record_view_event('edit team page')

=content_for :body_id do
  team-settings

#lflf
  %h1.big-title="Edit #{@team.name}"
  .panel.cf
    .inside-panel-align-left
      =render 'form', :locals => {:team => @team}