-#-content_for :javascript do
-#  %script="logUsage('viewed', 'leaderboard');"

-content_for :mixpanel do
  =record_view_event('leaderboard')

-content_for :page_title do
  =teams_leaderboard_title(@teams)

.second-level-header.cf
  %h1 Leaderboard
  / %form.network-search{:name => "form"}
  /   %input{:type => 'text', :placeholder => 'search teams'}
  /   %input{:type => "submit", :class => "submit", :value => " "}
  %ul
    %li=link_to('Hiring', teams_path, :class => featured_teams_css_class)
    %li=link_to('Leaderboard', leaderboard_path, :class => leaderboard_css_class)


%section.leader-board.cf
  %header
    %ul.leader-board-head.cf
      %li.rank
        %h2 Rank
      %li.team
        %h2 Team
      %li.members
        %h2 Members
      %li.score
        %h2 Score
  %ol.team-list.cf
    =render @teams
    -if !signed_in?
      %li.extended
        =link_to 'Sign in to see the Full Leaderboard', root_path

.pagination.cf
  -unless params[:page].to_i <= 1
    =link_to('Prev', leaderboard_path(:page=>params[:page].to_i - 1), :class => "prev")
  -if @teams.size >= 25
    =link_to('Next', leaderboard_path(:page=>params[:page].to_i + 1), :class => "next")
