= render partial: 'head', locals: {topic: []}
%section.trending-topics
  %header.cf
    %h2 Trending Topics
    %a.protip-more{href: trending_topics_protips_path} More topics

  = render partial: 'trending_topics', locals: {count: 12}
