.join-panel.cf
  - unless !defined?(message) || message.nil?
    %p.join
      = message
  %ul.sign-btns
    %li
      %a.btn{:href => link_twitter_path, :rel => "nofollow"}
        %i.fa.fa-twitter
        Twitter
    %li
      %a.btn{:href => link_github_path, :rel => "nofollow"}
        %i.fa.fa-github
        Github
    %li
      %a.btn{:href => link_linkedin_path, :rel => "nofollow"}
        %i.fa.fa-linkedin
        Linkedin