#accounts
  %h4.center
    Sign in with your GitHub, Twitter, or LinkedIn account below
    = reason + "."
    %em (We never post without your permission. blah)
  %ul
    %li
      %a.button{:href => link_github_path}
        .signin.github
        Sign in via GitHub
    %li
      %a.button{:href => link_twitter_path}
        .signin.twitter
        Sign in via Twitter
    %li
      %a.button{:href => link_linkedin_path}
        .signin.linkedin
        Sign in via Linkedin
  .clear
  %p
    Need an account?
    =link_to('Join coderwall', root_path) + "."
