%ul.sign-up-buttons
  %li
    %a.button{:href => link_github_path}
      .signin.github
      Sign in via GitHub
  %li
    %a.button{:href => link_twitter_path}
      .signin.twitter
      Sign in via Twitter
  %li
    %a.button{:href => link_linkedin_path}
      .signin.linkedin
      Sign in via Linkedin