%ul.sign-up-list
  %li
    %a{:href => link_github_path,   :rel => 'nofollow'}
      %span.git
      GitHub
  %li
    %a{:href => link_twitter_path,  :rel => 'nofollow'}
      %span.twitter
      Twitter
  %li
    %a{:href => link_linkedin_path, :rel => 'nofollow'}
      %span.linkedin
      LinkedIn