
# Ignore application configuration
*.dat
*.gem
*.rbc
*/.DS_Store
.DS_Store
.bundle
.config
*.env
.idea
.sass-cache
.vagrant
.yardoc
/.bundle
/config/application.yml
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*.log
/tmp
InstalledFiles
Procfile.bashir
Procfile.test
TODO
_yardoc
config/secret.yml
coverage
coverage/
db/*.sqlite3
doc/
latest.dump
lib/bundler/man
log/*.log
logfile
nlp.rb
pkg
public/assets/
public/images/top/
rdoc
script/env
spec/render
spec/reports
stdout
test/tmp
test/version_tmp
tmp
vagrant/cache
vagrant/coderwall-box/output-virtualbox-iso/
vagrant/coderwall-box/packer_cache/
vagrant/coderwall-box/packer_virtualbox-iso_virtualbox.box
vagrant/dotfiles
vcr_cassettes
erd.pdf
vagrant.yml
git_stats
*.iml
