
# Ignore application configuration
.env
.idea
.vagrant
/log/*.log
/tmp
config/secret.yml
coverage
log/*.log
tmp
vagrant/cache
vagrant/coderwall-box/output-virtualbox-iso/
vagrant/coderwall-box/packer_cache/
vagrant/coderwall-box/*.box
vagrant/dotfiles
erd.pdf
vagrant.yml
git_stats
*.iml
dump
BACKUP
Guardfile
verification.log
npm-debug.log
