# Custom Vagrant Settings [Example]
# 
# This file allows the override of Vagrant settings. 
# In order to use, create a copy named vagrant.yml
#

virtualbox:
  cpus: 4
  memory: 4096
network:
  port_mappings:
    rails: 3000
    postgres: 2200
    redis: 2201
    elasticsearch: 9200
    mongodb: 27017