= content_for :body_id do
  admin

.comment-admin
  %h2.comments-header
    %i.fa.fa-comments
    Comments

  %ul.titles.cf
    %li Index
    %li Likes
    %li Comment

  - @comments.each_with_index do |comment, index|
    %ul.comments-list.cf
      %li
        = index+1
      %li
        = comment.likes_cache
      %li
        = link_to comment.body, protip_path(comment.commentable.try(:public_id)) unless comment.commentable.nil?
