
= content_for :body_id do
  protip-multiple

.inside-main-content.cf
  %ol.networks-list
    = form_for @network do |f|
      .network.cf
        .new
          %span
            new
        %h2
          = f.text_field :name
        %ul.tips-and-users
          %li
            %a.users
              Members
              %span
                0
          %li
            %a.tips
              Protips
              %span
                0
          %li
            = f.submit 'Add'
