-content_for :mixpanel do
  =record_event('viewed tagged protips', :tag => @topics.join("+"))
-#
-#= content_for :content_wrapper do
-#  = false
= render :partial => "protips/head", :locals => {:topic => @topics}

%aside.protips-sidebar
  %ul.protip-actions
    %li
      =link_to('Share a protip', new_protip_path(:topics => @topics.join(",")), :class => 'share track', 'data-action' => 'create protip', 'data-from' => 'tagged protips page')

.protips-content
  -if @protips.blank?
    .message
      Be the first to share your expertise on
      = link_to @topics.to_sentence.html_safe, new_protip_path(:topics => @topics.join(","))
      == .
  - else
    = render :partial => "protips/grid", :locals => {:protips => @protips.results, :collection => @protips, :url => :protips_path, :hide_more => false, :width => 3, :mode => 'popup'}