%tr
  %td.content-head
    %h1
      Congrats friend!

%tr
  %td.main-content-grey
    %p
      You've
      =@message
      since you last visited Coderwall. Don't worry, that feeling of excitement and exhilaration is totally normal. Now go check out your sweet
      =link_to('coderwall!', signin_url)
