%tr
  %td.content-head{:style => "padding: 30px 60px;border-bottom: solid 1px #d4cfc4;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif'"}
    %h1{:style => "-webkit-font-smoothing: antialiased;color: #393939;font-size: 26px;margin-bottom: 20px;text-align: center;margin: 0;line-height: 100%;font-size: 28px;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"}
      Coderwall just got delicious.
%tr
  %td{:width=>"100%", :bgcolor=>"#ffffff"}
    %img{:alt => "The new coderwall", :src => image_path("email/launch-email.jpg"), :style => "height: auto;line-height: 100%;outline: none;text-decoration: none;display: block;"}/

%tr
  %td.main-content-white{:style => "padding: 30px 60px;background: #fff;border-bottom: solid 1px #d4cfc4;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif'"}
    %p{:style => "font-size: 14px;line-height: 22px;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"}
      %a{:href => "https://coderwall.com/signin", :style => "color: #3d8dcc;text-decoration: none;font-size: 14px;"} Sign in
      to see your completely new profile and team page. We designed it from the ground up to be the best way to summarize your achievements and expertise. We hope you find the new coderwall a space for tech's most talented makers to connect, share, build and be inspired.


%tr
  %td.main-content-grey{:style => "padding: 30px 60px;background: #ece9e2;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"}
    %h1{:style => "-webkit-font-smoothing: antialiased;color: #393939;font-size: 28px;margin-bottom: 20px;line-height: 100%;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"} Pro tips
    %p{:style => "font-size: 14px;line-height: 22px;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"}
      Pro tips are an easy way to share and save interesting links, code, and ideas. We also make it super easy to find pro tips you've previously shared or upvoted. Check out the
      %a{:href => "https://coderwall.com/trending", :style => "color: #3d8dcc;text-decoration: none;font-size: 14px;"} trending pro tips
      or
      %a{:href => "https://coderwall.com/p/new", :style => "color: #3d8dcc;text-decoration: none;font-size: 14px;"} create your own.
      (Don't forget to test out the slick previewing capabilities when creating a pro tip.)

%tr
  %td.main-content-grey{:style => "padding: 30px 60px;background: #ece9e2;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"}
    %h1{:style => "-webkit-font-smoothing: antialiased;color: #393939;font-size: 28px;margin-bottom: 20px;line-height: 100%;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"} Hacker Desks
    %p{:style => "font-size: 14px;line-height: 22px;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"}
      %img.image-right{:alt => "Hackerdesk", :src => image_path("email/hackerdesk.png"), :style => "height: auto;line-height: 100%;outline: none;text-decoration: none;display: block;float: right;margin: 10px 0px 10px 20px;"}/
    %p{:style => "font-size: 14px;line-height: 22px;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"}
      To help us launch coderwall's new pro tip feature, we asked some of the awesome developers in the coderwall community to share an exclusive view of their workspace. Since we spend most of our time at desks in front of computers, the right setup is crucial for our best hacking. Hopefully you will find these as inspirational as we did. Have a great setup of your own? share it
      =link_to('here.', 'https://coderwall.com/p/new?topics=hackerdesk', :style => "color: #3d8dcc;text-decoration: none;font-size: 14px;")

    .divider{:style => "height: 10px;background: #dbd7cd;"}

%tr
  %td.main-content-grey{:style => "padding: 30px 60px;background: #ece9e2;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"}
    %p{:style => "font-size: 14px;line-height: 22px;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"}
      %img.image-left{:alt => "A17f0025641b4be419a6cd3845e55dd2", :src => "https://secure.gravatar.com/avatar/a17f0025641b4be419a6cd3845e55dd2", :style => "height: auto;line-height: 100%;outline: none;text-decoration: none;display: block;float: left;margin: 10px 20px 10px 0;"}/
      Ilya Grigorik is a developer advocate and web performance engineer at Google. He spends his days and nights working on making the web faster and building and driving adoption of performance best practices.
      %a{:href => "https://coderwall.com/p/gcymlg", :style => "color: #3d8dcc;text-decoration: none;font-size: 14px;"} Check out his typical workspace

%tr
  %td.main-content-grey{:style => "padding: 30px 60px;background: #ece9e2;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"}
    %p{:style => "font-size: 14px;line-height: 22px;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"}
      %img.image-left{:alt => "719c91f5c3013e43ee46ed2bdc67f883", :src => "https://secure.gravatar.com/avatar/719c91f5c3013e43ee46ed2bdc67f883", :style => "height: auto;line-height: 100%;outline: none;text-decoration: none;display: block;float: left;margin: 10px 20px 10px 0;"}/
      Scott works for the Web Platform Team at Microsoft but is best known for his speaking and popular blog.
      %a{:href => "https://coderwall.com/p/fgtlba", :style => "color: #3d8dcc;text-decoration: none;font-size: 14px;"} Check out his home office
%tr
  %td.main-content-grey{:style => "padding: 30px 60px;background: #ece9e2;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"}
    %p{:style => "font-size: 14px;line-height: 22px;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"}
      %img.image-left{:alt => "Baf018e2cc4616e4776d323215c7136c", :src => "https://secure.gravatar.com/avatar/baf018e2cc4616e4776d323215c7136c", :style => "height: auto;line-height: 100%;outline: none;text-decoration: none;display: block;float: left;margin: 10px 20px 10px 0;"}/
      Alex MacCaw is a JavaScript programmer, O'Reilly author, and works at Stripe.
      %a{:href => "https://coderwall.com/p/rqjk2w", :style => "color: #3d8dcc;text-decoration: none;font-size: 14px;"} Check his workspace
%tr
  %td.main-content-grey{:style => "padding: 30px 60px;background: #ece9e2;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"}
    %p{:style => "font-size: 14px;line-height: 22px;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"}
      %img.image-left{:alt => "150_twitter", :src => "https://coderwall-assets-0.s3.amazonaws.com/uploads/picture/file/103/150_twitter.jpg", :style => "height: auto;line-height: 100%;outline: none;text-decoration: none;display: block;float: left;margin: 10px 20px 10px 0;"}/
      Rachel is not only an awesome programmer but she also is an award-winning comicker!
      %a{:href => "https://coderwall.com/p/7pvfbg", :style => "color: #3d8dcc;text-decoration: none;font-size: 14px;"} Check out her workspace
%tr
  %td.main-content-grey{:style => "padding: 30px 60px;background: #ece9e2;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"}
    %h2{:style => "-webkit-font-smoothing: antialiased;color: #393939;font-size: 20px;margin-bottom: 20px;line-height: 100%;"}
      See
      %a{:href => "https://coderwall.com/p/gxjpna", :style => "color: #3d8dcc;text-decoration: none;font-size: 20px;"} all the featured hacker desks
      or
      %a{:href => "https://coderwall.com/p/new?topics=hackerdesk", :style => "color: #3d8dcc;text-decoration: none;font-size: 20px;"} add your own desk
      to the full
      %a{:href => "https://coderwall.com/p/t/hackerdesk", :style => "color: #3d8dcc;text-decoration: none;font-size: 20px;"} community list.
      How many upvotes can you get?
