%tr
  %td.content-head
    %h1
      Have you seen the Improving Enterprises team page yet?
%tr
  %td.feature-image
    =image_tag("email/launch-email.jpg", :class => "feature-image")
%tr
  %td.main-content-white
    %p It's pretty much the best thing since symbolic assemblers. Besides being a great way to see your team's coding chops, it's going to be stuffed with all sorts of interesting bits in the future too.
    .divider
    %p It's pretty much the best thing since symbolic assemblers. Besides being a great way to see your team's coding chops, it's going to be stuffed with all sorts of interesting bits in the future too.
%tr
  %td.main-content-grey
    %h1 Header one
    %p It's pretty much the best thing since symbolic assemblers. Besides being a great way to see your team's coding chops, it's going to be stuffed with all sorts of interesting bits in the future too.
    %p
      =image_tag("email/test-image.png", :class => "image-right")
    %p To start, we always found it hard to discover new interesting open source projects but now you can easily see the latest projects your teammates and favorite engineering teams like GitHub or Heroku are following in the activity feed on a team page.
    %p To invite others to team Improving Enterprises, share this private link with your coworkers so they can join your team:
    %a.class{:href => '/'}
      https://coderwall.com/i/4f271932973bf0000400003e/djHeemVVv8g
    %p You can also check out the FAQ if you have questions about how teams work.
    .divider
    %h2 Header two
    %p Matt & the Coderwall team
    %p P.S. Make sure to follow us on twitter (@coderwall)
    %p
      =image_tag("email/test-image.png", :class => "image-left")
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.