<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages: ["corechart"]});
    google.setOnLoadCallback(drawChart1);
    google.setOnLoadCallback(drawChart2);
    google.setOnLoadCallback(drawChart3);
    google.setOnLoadCallback(drawChart4);
    function drawChart1() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Year');
        data.addColumn('number', 'New Signups');
        data.addRows([
            <%= User.signups_by_day.collect{|signup| "['#{signup.first}', #{signup.last}]"}.join(',') %>
        ]);

        var chart = new google.visualization.AreaChart(document.getElementById('signups_by_day'));
        chart.draw(data, {width: 250, height: 400, title: 'Signups by Day',
            hAxis: {title: 'Day', titleTextStyle: {color: '#FF0000'}}
        });
    }


    function drawChart2() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Hour');
        data.addColumn('number', 'New Signups');
        data.addRows([
            <%= User.signups_by_hour.collect{|signup| "['#{signup.first}', #{signup.last}]"}.join(',') %>
        ]);

        var chart = new google.visualization.AreaChart(document.getElementById('signups_by_hour'));
        chart.draw(data, {width: 250, height: 400, title: 'Signups by Hour',
            hAxis: {title: 'Hour', titleTextStyle: {color: '#FF0000'}}
        });
    }


    function drawChart3() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Month');
        data.addColumn('number', 'New Signups');
        data.addRows([
            <%= User.signups_by_month.collect{|signup| "['#{signup.first}', #{signup.last}]"}.join(',') %>
        ]);

        var chart = new google.visualization.AreaChart(document.getElementById('signups_by_month'));
        chart.draw(data, {width: 250, height: 400, title: 'Signups by Month',
            hAxis: {title: 'Month', titleTextStyle: {color: '#FF0000'}}
        });
    }

    // function drawChart4() {
    //   var data = new google.visualization.DataTable();
    //
    //   data.addColumn('number', 'Logins');
    //   data.addColumn('number', 'Number');
    //
    <%= "data.addRows(#{User.repeat_visits_by_count.size});" %>
    //
    //   data.setValue(0, 0, 'Work');
    //   data.setValue(0, 1, 11);
    //   data.setValue(1, 0, 'Eat');
    //   data.setValue(1, 1, 2);
    //   data.setValue(2, 0, 'Commute');
    //   data.setValue(2, 1, 2);
    //   data.setValue(3, 0, 'Watch TV');
    //   data.setValue(3, 1, 2);
    //   data.setValue(4, 0, 'Sleep');
    //   data.setValue(4, 1, 7);
    //
    //   var chart = new google.visualization.PieChart(document.getElementById('repeat_vists'));
    //   chart.draw(data, {width: 450, height: 300, title: 'Repeat Visits'});
    // }
</script>
<div id="repeat_vists"></div>
<div id="signups_by_hour" style="float:left;"></div>
<div id="signups_by_day" style="float:left;"></div>
<div id="signups_by_month" style="float:left;"></div>
