%h1 Cache stats
= link_to "Home", admin_root_path
%table{:style => "padding: 4px; border: 1px solid #ddd; background-color: #eee; margin-bottom: 10px;"}
  - @cache_stats.each do |host, stats|
    %tr
      %td{:style => "vertical-align: top;"}= host
      %td{:style => "vertical-align: top;"}
        %table{:style => "margin-bottom: 0"}
          - stats.each do |stat, value|
            %tr
              %td= stat
              %td= value

