=content_for :body_id do
  admin
%table.stats
  - 12.downto(0).each do |num_sections|
    %tr
      %td== #{num_sections}+ sections completed
      %td= link_to Team.completed_at_least(num_sections, 1, Team.count, :count).total, admin_sections_teams_path(num_sections)


%table.sections
  - Team::SECTION_FIELDS.each do |section|
    %tr
      %td= section.to_s
      %td= link_to Team.with_completed_section(section).count, admin_section_teams_path(section)