%table.outside{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin: 0 auto;padding: 0 40px 20px 40px;width: 600px;background: #fff;", :width => "600"}
  %tr{:style => "margin: 0;padding: 0;"}
    %td{:style => "margin: 0;padding: 0;"}
      %table.activity{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "background: #fafafa; margin: 0;padding: 0;width: 520px;border: #cbc9c4 solid 2px;-webkit-border-radius: 6px;border-radius: 6px;overflow: hidden;"}
        %tr
          %td{:colspan => "2", :style => "margin: 0;padding: 10px;"}
            %h3{:style => "margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Arial, sans-serif;font-size: 14px;line-height: 22px;color: #48494E;text-decoration: none;display: block; text-align:center"}
              â¤ clothes? Level up your wardrobe with this free limited edition Coderwall tee from our friends at New Relic.

        %tr.title{:style => "margin: 0;padding: 0;height: 50px;line-height: 50px;"}
          %td{:colspan => "2", :style => "margin: 0;padding: 0;"}
            %h2{:style => "margin: 0;padding: 20px 0 0 20px;font-weight: normal;font-family: Georgia, Times, Times New Roman, serif;text-align: center;font-size: 19px;color: #48494e;"}
              =image_tag("relic-tee.png", style: 'width: 200px')

        %tr.btns{:style => "margin: 0;padding: 0;"}
          %td.btns-box{:colspan => "7", :style => "margin: 0;padding: 20px 90px;border-top: solid 1px #cbc9c4;"}
            %a.browse-networks{:href => "http://newrelic.com/lp/coderwall?utm_source=CWAL&utm_medium=banner_ad&utm_content=newsletter&utm_campaign=coderwall&mpc=BA-CWAL-web-en-100-coderwall-newsletter", :style => "margin: 0;padding: 8px 16px;background: #3d8dcc;font-family: Helvetica Neue, Helvetica, Arial, sans-serif;font-size: 14px;line-height: 22px;display: inline-block;width: 300px;color: #fff;text-decoration: none;-webkit-border-radius: 4px;border-radius: 4px;text-align: center;"}
              Test drive New Relic for free and get a Coderwall tee
