- content_for :head do
  = render :partial => 'disqus_comment_count'

- content_for :mixpanel do
  = record_event('viewed blog', :post => "index")

- content_for :title do
  = "coderwall.com: Blog"

=content_for :body_id do
  blog

%h1.big-title Blog

%section{:class => "blog"}
  .panel
    .inside-panel-align-left
      = render @blog_posts