---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: US-ASCII
      string: amount=20000&interval=month&name=Monthly&currency=usd&id=rocrla
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-07-22'
    body:
      encoding: UTF-8
      string: |
        {
          "interval": "month",
          "name": "Monthly",
          "created": 1406364572,
          "amount": 20000,
          "currency": "usd",
          "id": "rocrla",
          "object": "plan",
          "livemode": false,
          "interval_count": 1,
          "trial_period_days": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Sat, 26 Jul 2014 08:49:32 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[cvc]=224&card[exp_month]=12&card[exp_year]=14
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-07-22'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14KQrw4AnjI1zHWBtmUZGUsz",
          "livemode": false,
          "created": 1406364572,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14KQrw4AnjI1zHWBapPpMR1r",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2014,
            "fingerprint": "GuemeI8uOeJZ5eck",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Sat, 26 Jul 2014 08:49:32 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=someone%40example.com%20for%20Coderwall&card=tok_14KQrw4AnjI1zHWBtmUZGUsz
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-07-22'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1406364573,
          "id": "cus_4TNdzSTo0NMF0A",
          "livemode": false,
          "description": "someone@example.com for Coderwall",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4TNdzSTo0NMF0A/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4TNdzSTo0NMF0A/cards",
            "data": [
              {
                "id": "card_14KQrw4AnjI1zHWBapPpMR1r",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2014,
                "fingerprint": "GuemeI8uOeJZ5eck",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4TNdzSTo0NMF0A"
              }
            ]
          },
          "default_card": "card_14KQrw4AnjI1zHWBapPpMR1r"
        }
  recorded_at: Sat, 26 Jul 2014 08:49:33 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_4TNdzSTo0NMF0A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-07-22'
    body:
      encoding: UTF-8
      string: |
     [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_4TNdzSTo0NMF0A/subscription
    body:
      encoding: US-ASCII
      string: plan=rocrla
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-07-22'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_4TNdea1UIpRy6r",
          "plan": {
            "interval": "month",
            "name": "Monthly",
            "created": 1406364572,
            "amount": 20000,
            "currency": "usd",
            "id": "rocrla",
            "object": "plan",
            "livemode": false,
            "interval_count": 1,
            "trial_period_days": null,
            "metadata": {},
            "statement_description": null
          },
          "object": "subscription",
          "start": 1406364574,
          "status": "active",
          "customer": "cus_4TNdzSTo0NMF0A",
          "cancel_at_period_end": false,
          "current_period_start": 1406364574,
          "current_period_end": 1409042974,
          "ended_at": null,
          "trial_start": null,
          "trial_end": null,
          "canceled_at": null,
          "quantity": 1,
          "application_fee_percent": null,
          "discount": null,
          "metadata": {}
        }
  recorded_at: Sat, 26 Jul 2014 08:49:35 GMT
- request:
    method: post
    uri: http://api.mixpanel.com/track/
    body:
      encoding: US-ASCII
      string: data=eyJldmVudCI6InVwZ3JhZGVkIHRlYW0iLCJwcm9wZXJ0aWVzIjp7InRpbWUiOjE0MDYzNjQ1NzUsImlwIjpudWxsLCJtcF9uYW1lX3RhZyI6ImV2ZXJhcmRvIiwic2NvcmUiOjAsImZvbGxvd2VycyI6MCwiYWNoaWV2ZW1lbnRzIjowLCJvbiB0ZWFtIjp0cnVlLCJwcmVtaXVtIHRlYW0iOnRydWUsInNpZ25lZCBpbiI6dHJ1ZSwibWVtYmVyIjp0cnVlLCJmaXJzdCB2aXNpdCI6ZmFsc2UsInZpc2l0IGZyZXF1ZW5jeSI6InJhcmVseSIsInRva2VuIjoibWl4cGFuZWxfdG9rZW4ifX0%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '1'
  recorded_at: Sat, 26 Jul 2014 08:49:35 GMT
recorded_with: VCR 2.9.2
