---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[cvc]=224&card[exp_month]=12&card[exp_year]=14
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-07-22'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14KR314AnjI1zHWBAXjC5l9w",
          "livemode": false,
          "created": 1406365259,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14KR314AnjI1zHWB3D7lqZT5",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2014,
            "fingerprint": "GuemeI8uOeJZ5eck",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Sat, 26 Jul 2014 09:00:59 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=someone%40example.com%20for%20Coderwall&card=invalid
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-07-22'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "Invalid token id: invalid"
          }
        }
  recorded_at: Sat, 26 Jul 2014 09:00:59 GMT
recorded_with: VCR 2.9.2
