---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_4TNdkc92GIWGvM
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-07-22'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1406364588,
          "id": "cus_4TNdkc92GIWGvM",
          "livemode": false,
          "description": "someone@example.com for Coderwall",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4TNdkc92GIWGvM/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4TNdkc92GIWGvM/cards",
            "data": [
              {
                "id": "card_14KQsB4AnjI1zHWBRaAUrENZ",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2014,
                "fingerprint": "GuemeI8uOeJZ5eck",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4TNdkc92GIWGvM"
              }
            ]
          },
          "default_card": "card_14KQsB4AnjI1zHWBRaAUrENZ"
        }
  recorded_at: Sat, 26 Jul 2014 08:49:49 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_4TNdkc92GIWGvM/subscription
    body:
      encoding: US-ASCII
      string: plan=e0xbaw
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-07-22'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_4TNdJ2lhA0faFB",
          "plan": {
            "interval": "month",
            "name": "Starter",
            "created": 1406364588,
            "amount": 0,
            "currency": "usd",
            "id": "e0xbaw",
            "object": "plan",
            "livemode": false,
            "interval_count": 1,
            "trial_period_days": null,
            "metadata": {},
            "statement_description": null
          },
          "object": "subscription",
          "start": 1406364590,
          "status": "active",
          "customer": "cus_4TNdkc92GIWGvM",
          "cancel_at_period_end": false,
          "current_period_start": 1406364590,
          "current_period_end": 1409042990,
          "ended_at": null,
          "trial_start": null,
          "trial_end": null,
          "canceled_at": null,
          "quantity": 1,
          "application_fee_percent": null,
          "discount": null,
          "metadata": {}
        }
  recorded_at: Sat, 26 Jul 2014 08:49:50 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_4TNdBL7wMg5gl3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-07-22'
    body:
      encoding: UTF-8
      string: |
     [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_4TNdBL7wMg5gl3/subscription
    body:
      encoding: US-ASCII
      string: plan=0a4_rq
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-07-22'
    body:
      encoding: UTF-[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_4TNdFAlM4jh4r5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-07-22'
    body:
      encoding: UTF-8
      string: |
     [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_4TNdFAlM4jh4r5/subscription
    body:
      encoding: US-ASCII
      string: plan=hptmoq
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-07-22'
    body:
      encoding: UTF-[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_4TNd4v7FfVoPZB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-07-22'
    body:
      encoding: UTF-8
      string: |
     [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_4TNd4v7FfVoPZB/subscription
    body:
      encoding: US-ASCII
      string: plan=ir3fnq
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-07-22'
    body:
      encoding: UTF-[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_4TNdjnHIIgSIzT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-07-22'
    body:
      encoding: UTF-8
      string: |
     [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_4TNdjnHIIgSIzT/subscription
    body:
      encoding: US-ASCII
      string: plan=y9pwhw
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-07-22'
    body:
      encoding: UTF-[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_4TNdLaGHupFM5P
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-07-22'
    body:
      encoding: UTF-8
      string: |
     [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_4TNdLaGHupFM5P/subscription
    body:
      encoding: US-ASCII
      string: plan=j4f7bw
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-07-22'
    body:
      encoding: UTF-[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: US-ASCII
      string: amount=15000&interval=month&name=Recruiting%20Magnet&currency=usd&id=xj9meg
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-07-22'
    body:
      encoding: UTF-8
      string: |
        {
          "interval": "month",
          "name": "Recruiting Magnet",
          "created": 1406364621,
          "amount": 15000,
          "currency": "usd",
          "id": "xj9meg",
          "object": "plan",
          "livemode": false,
          "interval_count": 1,
          "trial_period_days": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Sat, 26 Jul 2014 08:50:21 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=someone%40example.com%20for%20Coderwall&card=tok_14KQsi4AnjI1zHWBPaAy5qjQ
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_4TNem1Qjkdh9ft
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-07-22'
    body:
      encoding: UTF-8
      string: |
     [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_4TNem1Qjkdh9ft/subscription
    body:
      encoding: US-ASCII
      string: plan=xj9meg
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-07-22'
    body:
      encoding: UTF-[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[cvc]=224&card[exp_month]=12&card[exp_year]=14
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-07-22'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14KQso4AnjI1zHWB5BMaPNFK",
          "livemode": false,
          "created": 1406364626,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14KQso4AnjI1zHWBJNP8P8Le",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2014,
            "fingerprint": "GuemeI8uOeJZ5eck",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Sat, 26 Jul 2014 08:50:26 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=30000&currency=usd&card=tok_14KQso4AnjI1zHWB5BMaPNFK&description=Single%20Job%20Post
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-07-22'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_14KQso4AnjI1zHWBIWtTIUds",
          "object": "charge",
          "created": 1406364626,
          "livemode": false,
          "paid": true,
          "amount": 30000,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_14KQso4AnjI1zHWBJNP8P8Le",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2014,
            "fingerprint": "GuemeI8uOeJZ5eck",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "customer": null
          },
          "captured": true,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_14KQso4AnjI1zHWBIWtTIUds/refunds",
            "data": []
          },
          "balance_transaction": "txn_14KQso4AnjI1zHWBQIxoSth5",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Single Job Post",
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "receipt_email": null
        }
  recorded_at: Sat, 26 Jul 2014 08:50:27 GMT
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=San%20Francisco,%20CA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "San Francisco",
                       "short_name" : "SF",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "San Francisco County",
                       "short_name" : "San Francisco County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "California",
                       "short_name" : "CA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "San Francisco, CA, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 37.9297707,
                          "lng" : -122.3279149
                       },
                       "southwest" : {
                          "lat" : 37.6933354,
                          "lng" : -123.1077733
                       }
                    },
                    "location" : {
                       "lat" : 37.7749295,
                       "lng" : -122.4194155
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 37.812,
                          "lng" : -122.3482
                       },
                       "southwest" : {
                          "lat" : 37.70339999999999,
                          "lng" : -122.527
                       }
                    }
                 },
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 26 Jul 2014 08:50:27 GMT
[...]
