---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Amsterdam&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Amsterdam",
                       "short_name" : "Amsterdam",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Government of Amsterdam",
                       "short_name" : "Government of Amsterdam",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "North Holland",
                       "short_name" : "NH",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "The Netherlands",
                       "short_name" : "NL",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Amsterdam, The Netherlands",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 52.4311573,
                          "lng" : 5.0683775
                       },
                       "southwest" : {
                          "lat" : 52.3182742,
                          "lng" : 4.7288558
                       }
                    },
                    "location" : {
                       "lat" : 52.3702157,
                       "lng" : 4.895167900000001
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 52.4311573,
                          "lng" : 5.0683775
                       },
                       "southwest" : {
                          "lat" : 52.3182742,
                          "lng" : 4.7288558
                       }
                    }
                 },
                 "types" : [ "locality", "political" ]
              },
              {
                 "address_components" : [
                [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=San%20Francisco,%20CA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "addre[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: US-ASCII
      string: amount=0&interval=month&name=Basic&currency=usd&id=pqjjcw
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-07-22'
    body:
      encoding: UTF-8
      string: |
        {
          "interval": "month",
          "name": "Basic",
          "created": 1406364643,
          "amount": 0,
          "currency": "usd",
          "id": "pqjjcw",
          "object": "plan",
          "livemode": false,
          "interval_count": 1,
          "trial_period_days": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Sat, 26 Jul 2014 08:50:44 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: US-ASCII
      string: amount=19900&interval=month&name=Analytics&currency=usd&id=vjvxja
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-07-22'
    body:
      encoding: UTF-8
      string: |
        {
          "interval": "month",
          "name": "Analytics",
          "created": 1406364644,
          "amount": 19900,
          "currency": "usd",
          "id": "vjvxja",
          "object": "plan",
          "livemode": false,
          "interval_count": 1,
          "trial_period_days": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Sat, 26 Jul 2014 08:50:44 GMT
recorded_with: VCR 2.9.2
