---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/seuros?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1407083476'
      Last-Modified:
      - Sun, 03 Aug 2014 13:25:56 GMT
      Etag:
      - '"4a72dc5f1d58723841265fb0cb5d6b72"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"login":"seuros","id":2394703,"avatar_url":"https://avatars.githubusercontent.com/u/2394703?v=1","gravatar_id":"e3f2c4402c93ec006f9c5218a4c7bab2","url":"https://api.github.com/users/seuros","html_url":"https://github.com/seuros","followers_url":"https://api.github.com/users/seuros/followers","following_url":"https://api.github.com/users/seuros/following{/other_user}","gists_url":"https://api.github.com/users/seuros/gists{/gist_id}","starred_url":"https://api.github.com/users/seuros/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/seuros/subscriptions","organizations_url":"https://api.github.com/users/seuros/orgs","repos_url":"https://api.github.com/users/seuros/repos","events_url":"https://api.github.com/users/seuros/events{/privacy}","received_events_url":"https://api.github.com/users/seuros/received_events","type":"User","site_admin":false,"name":"Abdelkader
        Boudih","company":"","blog":"","location":"Morocco","email":"terminale@googlemail.com","hireable":true,"bio":null,"public_repos":97,"public_gists":8,"followers":22,"following":6,"created_at":"2012-09-21T16:23:55Z","updated_at":"2014-08-03T13:25:56Z"}'
  recorded_at: Sun, 03 Aug 2014 15:42:37 GMT
recorded_with: VCR 2.9.2
