%ul.linked-accounts
  %li
    .linkaccount Github
    -if @user.github.blank?
      =link_to('Link Account', link_github_path, :class => "button")
    -else
      .linked=@user.github
      =link_to('Unlink account', unlink_github_path, :method => :post, :class => "unlink") if current_user.can_unlink_provider?(:github)
      .join-badge-orgs
        =form.check_box :join_badge_orgs
        =form.label :join_badge_orgs do
          ==Join #{link_to 'Coderwall Badge Orgs', faq_path(:anchor => "badge-orgs"), :target => :new}
  %li
    .linkaccount Twitter
    -if @user.twitter.blank?
      =link_to('Link Account', link_twitter_path, :class => "button")
    -else
      .linked=@user.twitter
      =link_to('Unlink account', unlink_twitter_path, :method => :post, :class => "unlink") if current_user.can_unlink_provider?(:twitter)

  %li
    .linkaccount LinkedIn
    -if @user.linkedin_id.blank?
      =link_to('Link Account', link_linkedin_path, :class => "button")
    -else
      .linked= link_to "Profile", @user.linkedin_public_url
      =link_to('Unlink account', unlink_linkedin_path, :method => :post, :class => "unlink") if current_user.can_unlink_provider?(:linkedin)
