-content_for(:page_title) do
  asdf


-@users.each do |user|
  #feed
    #bannerbg=location_image_tag_for(user)
    #businessCard
      .background
      .member=users_image_tag(user)
      %h1=user.display_name
      #titlecompany=business_card_for(user)
      #location=user.location
      -if user.team
        #currentteam=link_to(user.team.name, team_url(user.team), :class => 'track', 'data-action' => 'view team', 'data-from' => 'beta')
    .clear

