=content_for :body_id do
  member-settings

#lflf
  %h1.big-title Remove Your Account
  .panel.cf
    .inside-panel-align-left
      #social_section.editsection
        %p Warning: clicking this link below will permenatly delete your Coderwall account and its data.
        .left
          .setting
            =form_tag delete_account_confirmed_path do |form|
              .save=submit_tag 'Delete your account & sign out', :class => 'button', :confirm => "This is the point of no return. Are you sure you want to delete your account?"
