=content_for :javascript do
  -#=javascript_include_tag 'jquery.ketchup.all.min'
  =javascript_include_tag 'username-validation'

-content_for :page_title do
  coderwall : level up (step 2 of 2)

-content_for :body_id do
  registration

-content_for :mixpanel do
  =record_view_event('registration page')

#account
  .panel.cf
    .inside-panel-align-left
      %h1.account-box Last step - finish registering to level up
      =form_for @user do |form|
        =render "shared/error_messages", :target => @user
        .special-setting
          =form.label      :username, 'Username:'.html_safe
          =form.text_field :username, 'data-validation' => usernames_path, :maxlength => 15
          #username_validation

          =form.label      :name, 'Name:'.html_safe
          =form.text_field :name

          =form.label      :location, 'Location:'.html_safe
          =form.text_field :location

          =form.label      :email, 'Email Address:'.html_safe
          =form.text_field :email
        / %p
        /   -@user.receive_newsletter = false #this is here for campaign monitor
        /   =form.check_box  :receive_newsletter
        /   =form.label      :receive_newsletter, 'Receive infrequent but relevant updates'.html_safe
        %p.neverpost
          We respect the sanctity of your email and share your dislike for spam and unnecessarily frequent newsletters.
          =follow_coderwall_on_twitter
          to stay up to date with updates from coderwall.
        .save
          =submit_tag 'Finish', :class => 'button'
      .clear
      .special-setting.already-signedup
        %h4
          Already have an account? Try signing in again with
          =link_to('GitHub,', '/auth/github', :rel => 'nofollow')
          =link_to('Twitter,', '/auth/twitter', :rel => 'nofollow')
          or
          =link_to('LinkedIn', '/auth/linkedin', :rel => 'nofollow')