-content_for :mixpanel do
  =record_event('viewed pending profile', :viewing_self => viewing_self?)

#inprogress
  %h1 Heavy Lifting In Progress
  -unless viewing_self?
    #members
      %h3==Looks like #{@user.display_name}'s Coderwall is not ready yet. Why not check out some other hackers in the meantime?
      -User.random(8).each do |user|
        .member
          =avatar_image_tag(user)
          =link_to user.username, badge_path(:username => user.username)
      .clear
  -else
    %h3==Welcome to Coderwall! We add new members to our beta at the end of every week. Your estimated delivery is #{estimated_delivery_date.to_words}. While you wait for your welcome email, below are some things you can do to get the most out of coderwall.
    %ul.badges
      %li
        %h2 1
        %p.desc Maximize the potential to earn new achievements
        %p
          Badges are awarded when we discover your achievements. By linking more accounts, we can find more of these achievements on the internet. (we
          %strong never
          post to your accounts)
        .linkaccounts=render :partial => 'users/link_accounts'
      / %li
      /   %h2 2
      /   %p.desc Share an accomplishment
      /   %p Inspire others, be proud of your skills, and earn achievements by sharing a personal accomplishment.
      /   .createwhilepending
      /     =form_tag user_highlights_path(@user), :remote => true do
      /       .white-container
      /         =text_area_tag :highlight, nil, :placeholder => 'Enter an accomplishment', :id => "new_accomplishment"
      /       / #countdown 100
      /       =link_to 'save', '#', {:class => 'submitter button'}
      %li
        %h2 2
        %p.desc Can't wait and need your Coderwall today?
        %p
          Help us spread the word and we'll help you cut to the front of the queue. Tweet a link to your profile and have your account activated within 2 hours.
        -if event_checkin_class == 'show'
          %p
            %strong Checking in to NodeSummit will put you in the front of the queue.
        #spread=share_coderwall_on_twitter

    .clear
    -if @user.highlights.empty?
      #personalAccomplishments.hide
        %h2.section
          .headline Personal Accomplishments
        %ul.accomplishments=render @user.highlights
    -else
      #personalAccomplishments
        %h2.section
          .headline Personal Accomplishments
        %ul.accomplishments=render @user.highlights
