%div{:id => "pubnub", 'sub-key' => ENV['PUBNUB_SUBSCRIBE_KEY'], 'pub-key' => is_admin? ? ENV['PUBNUB_PUBLISH_KEY'] : "deadbeef", :ssl => "on", :origin => "pubsub.pubnub.com"}
%script{:src => "https://pubnub.a.ssl.fastly.net/pubnub-3.3.min.js"}
