/   %a.more-btn{:href => "#"} More


-if event.highlight?
  .item.event{:id => dom_id(event)}
    / %p.date This month
    -if viewing_self?
      =link_to('', user_highlight_path(@user, event.id), :method => :delete, :remote => true, :class => 'close')
    %p=auto_link(event.name)

-elsif event.presentation?
  .item
    %p=event.name
    .presentation=event.html.html_safe
-elsif event.conference?
  .item
    %p=event.name
    -if event.links && !event.links.empty?
      .item-footer
        -event.links.each do |link_pair|
          %a{:href => link_pair.first.last}=link_pair.first.first
-else
  .item
    / %p.date Jan 2012
    %p
      -if event.image_path
        =image_tag(event.image_path, :class => 'float-badge')
      =event.description
      -if event.links && !event.links.empty?
        %ul
          -event.links.each do |link_pair|
            %li=link_to(link_pair.first.first, link_pair.first.last, :target => :new)
        .clear
    / =event.date.strftime("%^b '%y")
