-content_for :page_title do
  coderwall : achievements

-content_for :mixpanel do
  =record_view_event('achievements')

#achievements
  %h1.center Achievements
  %h3.center Want more? New achievements added weekly.

  %h2 1 Personal Accomplishment Achievement
  .featured_badges.more
    %p
      Inspire others and show off your skills by sharing an accomplishment on your wall. Some personal accomplishments will even unlock special achievements like Castor.
    %ul
      %li=image_tag(Beaver.image_path, :title => Beaver.description, :class => 'tip')
      %li
        %h4 Castor Achievement
        %p Create an accomplishment using the words "created", "coded", "built", or "developed" to earn Castor, the first personal accomplishment achievement.
  .clear

  %h2 28 Language Achievements
  %ul.badges.achievements=render :collection => [Epidexipteryx3, Epidexipteryx, Locust3, Locust, Narwhal3, Narwhal, Honeybadger3, Honeybadger1, Cub, Kona, Raven, Polygamous , NephilaKomaci3, NephilaKomaci, Mongoose3, Mongoose, Python3, Python, Velociraptor3,Velociraptor, Trex3, Trex, Labrador3, Labrador, Komododragon3, Komododragon, Bear3, Bear], :partial => 'badges/badge'
  .clear

  %h2
    10 Social Coding Achievements (GitHub,
    %em CodePlex,
    %em Bitbucket
    )
  %ul.badges.achievements=render :collection => [Ashcat, Philanthropist, Altruist, Lemmings1000, Lemmings100, Forked100, Forked50, Forked20, Forked,  Charity], :partial => 'badges/badge'
  .clear

  %h2 3 GitHub Achievements
  %ul.badges.achievements=render :collection => [Octopussy, Changelogd, EarlyAdopter], :partial => 'badges/badge'
  .clear

  %h2 Limited Edition Achievements
  .featured_badges
    %p
      Make something awesome with node.js and earn 1 of 8 achievements by participating in the
      =link_to('2011 Node Knockout Competition', 'http://nodeknockout.com/')
    %ul
      -NodeKnockout::ALL.reverse.each_with_index do |badge_class, index|
        %li{:class => (index == 0 ? '' : 'stack')}=image_tag(badge_class.image_path, :title => badge_class.description, :class => 'tip')
  .clear

  %h6.center
    Achievement badges are licensed under the
    = link_to('CC-SA License, Version 3.0', 'https://creativecommons.org/licenses/by-sa/3.0/')
