.analytics
  %header
    %h1
      Shopify
      %span
        Last 20 visitors
  %table.analytics-table
    %tr.top-list.cf
      %td.user User details
      %td.sections Sections explored
      %td.time Time on page
      %td.last-visit Time since last visit
      %td.exited Exited to url

    %tr.main-list.cf
      %td.user
        .avatar
          =image_tag("profile/profile-img.jpg")
        .details
          %h3 medeiters mofemomf mfeofmo
          %h4 San Francisco, CAfemofeo
      %td.sections
        %ul.explored
          %li Members
          %li Benefits
          %li Our stack
      %td.time
        Less than 1 min
      %td.last-visit
        6 Weeks
      %td.exited
        .fix
          %a{:href => '/'}
            www.googlegooglegooglegooglegoogle.com

    %tr.main-list.cf
      %td.user
        .avatar
          =image_tag("profile/profile-img.jpg")
        .details
          %h3 medeiters
          %h4 San Francisco, CA
      %td.sections
        %ul.explored
          %li Members
          %li Benefits
          %li Our stack
          %li Members
          %li Benefits
          %li Our stack
          %li Our stack
      %td.time
        Less than 1 min
      %td.last-visit
        6 Weeks
      %td.exited
        .top-pick
          %span
            Top pick
        %a{:href => '/'}
          www.google.com

    %tr.main-list.cf
      %td.user
        .avatar
          =image_tag("profile/profile-img.jpg")
        .details
          %h3 medeiters
          %h4 San Francisco, CA
      %td.sections
        %ul.explored
          %li Members
          %li Benefits
          %li Our stack
      %td.time
        Less than 1 min
      %td.last-visit
        6 Weeks
      %td.exited
        %a{:href => '/'}
          www.google.com

    %tr.main-list.cf
      %td.user
        .avatar
          =image_tag("profile/profile-img.jpg")
        .details
          %h3 medeiters
          %h4 San Francisco, CA
      %td.sections
        %ul.explored
          %li Members
          %li Benefits
          %li Our stack
      %td.time
        Less than 1 min
      %td.last-visit
        6 Weeks
      %td.exited
        %a{:href => '/'}
          www.google.com










