DMCA Takedown

GitHub, Inc. ("GitHub") supports the protection of intellectual property and asks the users of the website GitHub.com to do the same. It is the policy of GitHub to respond to all notices of alleged copyright infringement.

Notice is specifically given that GitHub is not responsible for the content on other websites that any user may find or access when using GitHub.com. This notice describes the information that should be provided in notices alleging copyright infringement found specifically on GitHub.com, and this notice is designed to make alleged infringement notices to GitHub as straightforward as possible and, at the same time, minimize the number of notices that GitHub receives that are spurious or difficult to verify. The form of notice set forth below is consistent with the form suggested by the United States Digital Millennium Copyright Act ("DMCA") which may be found at the U.S. Copyright official website: http://www.copyright.gov.

It is the policy of GitHub, in appropriate circumstances and in its sole discretion, to disable and/or terminate the accounts of users of GitHub.com who may infringe upon the copyrights or other intellectual property rights of GitHub and/or others.

Our response to a notice of alleged copyright infringement may result in removing or disabling access to material claimed to be a copyright infringement and/or termination of the subscriber. If GitHub removes or disables access in response to such a notice, we will make a reasonable effort to contact the responsible party of our decision so that they may make an appropriate response.

To file a notice of an alleged copyright infringement with us, you are required to provide a written communication only by email or postal mail. Notice is also given that you may be liable for damages (including costs and attorney fees) if you materially misrepresent that a product or activity is infringing upon your copyright.

A. Copyright Claims

To expedite our handling of your notice, please use the following format or refer to Section 512(c)(3) of the Copyright Act.

Identify in sufficient detail the copyrighted work you believe has been infringed upon. This includes identification of the web page or specific posts, as opposed to entire sites. Posts must be referenced by either the dates in which they appear or by the permalink of the post. Include the URL to the concerned material infringing your copyright (URL of a website or URL to a post, with title, date, name of the emitter), or link to initial post with sufficient data to find it.

Identify the material that you allege is infringing upon the copyrighted work listed in Item #1 above. Include the name of the concerned litigious material (all images or posts if relevant) with its complete reference.

Provide information on which GitHub may contact you, including your email address, name, telephone number and physical address.

Provide the address, if available, to allow GitHub to notify the owner/administrator of the allegedly infringing webpage or other content, including email address.

Also include a statement of the following: “I have a good faith belief that use of the copyrighted materials described above on the infringing web pages is not authorized by the copyright owner, or its agent, or the law.”

Also include the following statement: “I swear, under penalty of perjury, that the information in this notification is accurate and that I am the copyright owner, or am authorized to act on behalf of the owner, of an exclusive right that is allegedly infringed.”

Your physical or electronic signature

Send the written notification via regular postal mail to the following:

GitHub Inc
Attn: DMCA takedown
548 4th St.
San Francisco, CA. 94107

or email notification to copyright@github.com.

For the fastest response, please send a plain text email. Written notification and emails with PDF file or image attachements may delay processing of your request.

B. Counter-Notification Policy

To be effective, a Counter-Notification must be a written communication by the alleged infringer provided to GitHub’s Designated Agent (as set forth above) that includes substantially the following:

A physical or electronic signature of the Subscriber;

Identification of the material that has been removed or to which access has been disabled and the location at which the material appeared before it was removed or access to it was disabled;

A statement under penalty of perjury that the Subscriber has a good faith belief that the material was removed or disabled as a result of a mistake or misidentification of the material to be removed or disabled;

The Subscriber’s name, address, and telephone number, and a statement that the Subscriber consents to the jurisdiction of Federal District Court for the judicial district of California, or if the Subscriber’s address is outside of the United States, for any judicial district in which GitHub may be found, and that the Subscriber will accept service of process from the person who provided notification or an agent of such person.

Upon receipt of a Counter Notification containing the information as outlined in 1 through 4 above:

GitHub shall promptly provide the Complaining Party with a copy of the Counter Notification;

GitHub shall inform the Complaining Party that it will replace the removed material or cease disabling access to it within ten (10) business days;

GitHub shall replace the removed material or cease disabling access to the material within ten (10) to fourteen (14) business days following receipt of the Counter Notification, provided GitHub’s Designated Agent has not received notice from the Complaining Party that an action has been filed seeking a court order to restrain Subscriber from engaging in infringing activity relating to the material on GitHub’s system.

Finally Notices and Counter-Notices with respect to this website must meet then current statutory requirements imposed by the DMCA; see http://www.copyright.gov for details.

C. Disclosure

Please note that in addition to being forwarded to the person who provided the allegedly infringing content, a copy of this legal notice (with your personal information removed) will be published
