<section class='error-top' style="background:image-url('waves.png'); background-color:#dde6eb;">
    <div style='width:960px; margin:0 auto; padding:100px 0;'>
        <h1 style="font-family:'MuseoSans-300'; text-align:center; text-transform:uppercase; color: #6e8597; font-size: 4em;">
            404, End of the road
        </h1>

        <div style="background:image-url('bridge.png'); width: 100px; height: 100px;">
            <!-- /=image_tag("bridge.png") -->
        </div>
    </div>
</section>
<section class='error-bottom' style='background:#bacbd8; padding-top: 40px;'>
    <h2 style="font-family:'MuseoSans-300'; font-size: 1.9em; text-align: center; color: #6e8597; width: 450px; margin: 0 auto; line-height: 1.8em;">
        Perhaps you wanted to go to your
        <a href='/' style='background:#6e8597; color: #dce5ea; margin-right: 5px; padding: 0 5px;'>
            dashboard,
        </a>
        view
        <a href='/' style='background:#6e8597; color: #dce5ea; margin-right: 5px; padding: 0 5px;'>
            networks
        </a>
        or see some
        <a href='/' style='background:#6e8597; color: #dce5ea; margin-right: 5px; padding: 0 5px;'>
            cool teams?
        </a>
    </h2>
</section>
