/ %section.home-top
/   .home-top-inside
/     %h1 A community for developers to unlock and share new skills
/     %a.sign-up-btn{:href => '/'} Sign up

%section.new-main-content

  //following on
  / .filter-bar
  /   .inside.cf
  /     %ul.filter-nav
  /       %li
  /         %a{:href => '/'} Fresh
  /       %li
  /         %a.selected{:href => '/'} Trending
  /       %li
  /         %a{:href => '/'} Popular
  /       %li
  /         %a{:href => '/'} Upvoted
  /
  /     %ul.toggle-filter-nav
  /       %li
  /         %a{:href => '/'} Fresh
  /       %li
  /         %a.selected{:href => '/'} Trending
  /       %li
  /         %a{:href => '/'} Popular
  /       %li
  /         %a{:href => '/'} Upvoted
  /
  /     %ul.toggle-nav
  /       %li
  /         %a.switch.following{:href => '/'}
  /       %li
  /         %a.action.following-settings{:href => '/'}
  /       %li
  /         %a.action.search{:href => '/'}

  //everything on
  .filter-bar
    .inside.cf
      %ul.toggle-nav
        %li
          %a.switch.everything{:href => '/'}
        %li
          %a.action.following-settings{:href => '/'}
        %li
          %a.action.search{:href => '/'}

  //search bar
  / .filter-bar.search-bar
  /   .inside.cf
  /     %form.search-bar
  /       %input{:name => "search", :type => "text", :placeholder => "Type here to search, for exmaple: Ruby on Rails"}
  /
  /     %ul.toggle-nav
  /       %li
  /         %a.action.search{:href => '/'}




  //inside for tips
  .inside
    %ul.protips-grid.cf

      %li.two-cols
        %header
          %p.badge New achievement
          .badge-img
            =image_tag("badges/beaver.png")

        .content
          %p.job-title{:href => '/'} Joe unlocked Beaver 3
          %p.job-exrp Joe Petterson unlocked the Beaver 3 achievement for having at least three original repo where go is the dominant language.

        .tip-image
          .blur-image
            =image_tag("blur-image2.jpg")

        %footer
          %ul.author
            %li.user
              by
              %a{:href => '/'} cassianoleal
            %li.team
              of
              %a{:href => '/'} Klout

          %ul.avatars
            %li.user
              %a{:href => '/'}
                =image_tag("profile/profile-img.jpg")
            %li.team
              %a{:href => '/'}
                =image_tag("team-avatar.png")


      %li.two-cols.job
        %header
          %p.job Hiring
          %a.feature-jobs{:href => '/'}
            Feature your jobs here


        .content
          %a.job-title{:href => '/'} Senior Ruby on Rails Developer Senior Ruby on Rails Developer
          %p.job-exrp We're looking for an experienced Ruby on Rails developer to join us as a technical lead. You will be working at a small startup with a flat We're looking for an experienced Ruby on Rails developer to join us as a technical lead. You will be working at a small startup with a flat We're looking for an experienced Ruby on Rails developer to join us as a technical lead. You will be working at a small startup with a flat

        .tip-image.blur-image
          =image_tag("blur-image.jpg")

        %footer
          %ul.author
            %li.team
              %a{:href => '/'} Klout
          %ul.avatars
            %li.team
              %a{:href => '/'}
                =image_tag("team-avatar.png")


      %li
        %header
          %span 75
        %a.title{:href => '/'} jsDelivr - A free public CDN for javascript
        %footer
          %ul.author
            %li.user
              by
              %a{:href => '/'} cassianoleal
            %li.team
              of
              %a{:href => '/'} Klout

          %ul.avatars
            %li.user
              %a{:href => '/'}
                =image_tag("profile/profile-img.jpg")
            %li.team
              %a{:href => '/'}
                =image_tag("team-avatar.png")



      %li
        %header
          %span 75
        %a.title{:href => '/'} jsDelivr - A free public CDN for javascript
        %footer
          %ul.author
            %li.user
              by
              %a{:href => '/'} cassianoleal
            %li.team
              of
              %a{:href => '/'} Klout

          %ul.avatars
            %li.user
              %a{:href => '/'}
                =image_tag("profile/profile-img.jpg")
            %li.team
              %a{:href => '/'}
                =image_tag("team-avatar.png")


      %li
        %header
          %span 75
        %a.title{:href => '/'} jsDelivr - A free public CDN for javascript
        %footer
          %ul.author
            %li.user
              by
              %a{:href => '/'} cassianoleal
            %li.team
              of
              %a{:href => '/'} Klout

          %ul.avatars
            %li.user
              %a{:href => '/'}
                =image_tag("profile/profile-img.jpg")
            %li.team
              %a{:href => '/'}
                =image_tag("team-avatar.png")


      %li
        %header
          %span 75
        %a.title{:href => '/'} jsDelivr - A free public CDN for javascript
        %footer
          %ul.author
            %li.user
              by
              %a{:href => '/'} cassianoleal
            %li.team
              of
              %a{:href => '/'} Klout

          %ul.avatars
            %li.user
              %a{:href => '/'}
                =image_tag("profile/profile-img.jpg")
            %li.team
              %a{:href => '/'}
                =image_tag("team-avatar.png")




