%section.jobs-top
  .inside
    .filter-outside
      %a.filter{:href => '/'}
        %h1
          Jobs
          %span
            Worldwide

      %ul.location-drop-down
        %li
          %a{:href => '/'}
            Worldwide
        %li
          %a{:href => '/'}
            New York City, NY
        %li
          %a{:href => '/'}
            San Francisco, CA
        %li
          %a{:href => '/'}
            Los Angeles, CA
        %li
          %a{:href => '/'}
            Really really long location
        %li
          %a{:href => '/'}
            London, UKs



    .top-box
      .post-box.cf
        %p.post-text
          Starting at $99 for 30 days
        %a.post-job{:href => '/'}
          Post a job
      .blurb
        %p
          Jobs at companies attracting the best developers to help them solve unique challenges in an awesome environment.

.inside-main-content.cf
  %ul.jobs
    %li.cf
      %a.job{:href => '/'}
        %h2
          Software engineer
        %h3
          Full-time
        %p
          Our designers make web and mobile products for our clients.
      .team.cf
        .details
          %a.team-name{:href => '/'}
            %h4 Heroku
          %p.location
            San Francisco, CA
          %p.tag-line
            Reinvent the way millions of people experience their cities
        .team-avatar
          %a{:href => '/'}
            =image_tag("team-avatar.png")

    %li.cf
      %a.job{:href => '/'}
        %h2
          Senior Rubyist
        %h3
          Full-time
        %p
          We’re on the hunt for engineering talent who can make software languages bend to their will. Due to our high traffic, there are technical scaling challenges that few companies' experience. As a member of our skilled team, you will build and maintain applications deployed to millions of users. This is a fast-paced agile environment where code you write today will be live on our site tomorrow (Continuous Deployment FTW!). We need the best and the brightest to help us build better, more robust applications.
      .team.cf
        .details
          %a.team-name{:href => '/'}
            %h4 Really long team name
          %p.location
            Really long location yes
          %p.tag-line
            Help us change the way software is made
        .team-avatar
          %a{:href => '/'}
            =image_tag("team-avatar.png")


      %li.cf
        %a.job{:href => '/'}
          %h2
            Senior Rubyist
          %h3
            Full-time
          %p
            We’re on the hunt for engineering talent who can make software languages bend to their will. Due to our high traffic, there are technical scaling challenges that few companies' experience. As a member of our skilled team, you will build and maintain applications deployed to millions of users. This is a fast-paced agile environment where code you write today will be live on our site tomorrow (Continuous Deployment FTW!). We need the best and the brightest to help us build better, more robust applications.
        .team.cf
          .details
            %a.team-name{:href => '/'}
              %h4 Heroku
            %p.location
              San Francisco, CA
            %p.tag-line
              Help us change the way software is made
          .team-avatar
            %a{:href => '/'}
              =image_tag("team-avatar.png")


    %li.cf
      %a.job{:href => '/'}
        %h2
          Software engineer
        %h3
          Full-time
        %p
          You believe in the fundamentals, and you will architect a full featured web application used by thousands of mobile developers around the world. You will self direct your projects, as we move towards a continuous deployment model.
      .team.cf
        .details
          %a.team-name{:href => '/'}
            %h4 Heroku
          %p.location
            San Francisco, CA
          %p.tag-line
            Help us change the way software is made
        .team-avatar
          %a{:href => '/'}
            =image_tag("team-avatar.png")


    %li.cf
      %a.job{:href => '/'}
        %h2
          Senior Rubyist
        %h3
          Full-time
        %p
          We’re on the hunt for engineering talent who can make software languages bend to their will. Due to our high traffic, there are technical scaling challenges that few companies' experience.
      .team.cf
        .details
          %a.team-name{:href => '/'}
            %h4 Heroku
          %p.location
            San Francisco, CA
          %p.tag-line
            Help us change the way software is made
        .team-avatar
          %a{:href => '/'}
            =image_tag("team-avatar.png")

  %a.new-more{:href => '/'}
    more jobs


