.page
  %header.team-header.cf
    .team-logo
      =image_tag("premium-teams/livingsocial/livingsocial-logo.jpg")
    %h1 LivingSocial
    %a.follow{:href => '/'}
      Follow
  //header

  %section.team-details.cf
    %ul.connections
      %li
        %a.url{:href => '/'}
          livingsocial.com
      %li
        %a.twitter{:href => '/'}
          On Twitter
      %li
        %a.facebook{:href => '/'}
          On Facebook
      %li
        %a.github{:href => '/'}
          On Github
    .switch-section
      %p
        LivingSocial is the local marketplace to buy and share the best things in your city. We inspire our members to find, share, and enjoy the best of their neighborhoods by connecting them with handpicked local businesses.
  //team details

  %section.members
    %ul.members-list.cf
      %li
        %a{:href => '/'}
          =image_tag("profile/profile-img.jpg")
          %ul
            %li
              Matt Aimonetti
            %li
              Web dev
      %li
        %a{:href => '/'}
          =image_tag("profile/profile-img.jpg")
          %ul
            %li
              Chad Fowler
            %li
              VP Engineering
      %li
        %a{:href => '/'}
          =image_tag("profile/profile-img.jpg")
          %ul
            %li
              Nick Sieger
            %li
              Web dev
      %li
        %a{:href => '/'}
          =image_tag("profile/profile-img.jpg")
          %ul
            %li
              David Copeland
            %li
              Web dev
      %li
        %a{:href => '/'}
          =image_tag("profile/profile-img.jpg")
          %ul
            %li
              Nick Sieger
            %li
              Web dev
      %li
        %a{:href => '/'}
          =image_tag("profile/profile-img.jpg")
          %ul
            %li
              David Copeland
            %li
              Web dev
    //members list

  %section.about-members.cf
    .member-details
      %h3
        Matt Aimonetti
      %p
        Sr Software Architect at LivingSocial - Former Sony PlayStation developer.
      %h3
        What I work on
      %p
        Matt creates the platform for tracking ad performance. He also once built an electronic database of medical records for a hospital in rural Burundi.
    .member-pic
      =image_tag("premium-teams/livingsocial/matt-img.jpg")
      .member-box.cf
        .member-basics
          %h3
            Matt Aimonetti
          %h4
            Web developer
          %a.view-profile{:href => '/'}
            View profile
        .member-stats
          %ul.cf
            %li
              %p
                Languages grokked
              %span
                20
            %li
              %p
                Kittens Saved
              %span
                392
            %li
              %p
                Apps deployed today
              %span
                5
    //about members

  %section.big-headline
    %h2
      This company truly values hard work. If you're flexible, friendly, and love to hustle, you're born to be a LivingSocialite.
  //big headline

  %section.big-image.cf
    %blockquote
      %span
        &quot;
      %p
        If you're not nervous about one or two decisions every day, you aren't trying hard enough.
    =image_tag("premium-teams/livingsocial/big-img.jpg")
  //big image

  %section.favourite-benefits.cf
    =image_tag("premium-teams/our-favourite-benefits.png")
    %ol
      %li
        %h3
          Offices around the world
        %p
          Want to work in SF? Check. DC? Check. Barcelona? Portland? Seattle? Seoul? Check. We built a distributed team of smart people that build amazing products. Location? Your choice.
      %li
        %h3
          Flexible PTO
        %p
          We're all professionals. Take as much time as you need. Doing great work matters more than tracking sick days.
      %li
        %h3
          Opportunity to Reinvent Commerce
        %p
          You may know us for just daily deals, but that was just the gateway drug to local commerce. Join us to reinvent the new way we interact with merchants in our cities every day.
  //favourite benefits

  %section.half-img
    .img
      =image_tag("profile/profile-img.jpg")
    .text
      %h3
        The LivingSocial Way
      %p
        We move fast, take risks, and pride ourselves on staying flexible, fun, and ferociously committed to executing each day. Do you want to be challenged by your job and be surrounded by passionate, dedicated, and creative people? Are you hungry? Prove it.
  //half image

  %section.office-images
    %h2
      Images from the office
  //office images

  %section#open-positions
    %header
      =image_tag("profile/profile-img.jpg")
      %h2
        Reinvent the way millions of people experience their cities
    %ul
      %li.job
        %h3
          Mobile/iOS Developer
        %ul
          %li
            Come and create beautiful mobile experiences.
          %li
            San Francisco, CA
      %li.job
        %h3
          Software Engineer - Ruby
        %ul
          %li
            Come and create beautiful web experiences.
          %li
            San Francisco, CA
  //jobs

  %section.why-work
    %header
      %h2
        Why work for LivingSocial?
    .img
      =image_tag("profile/profile-img.jpg")
    %ol
      %li
        %h3
          Move Fast
        %p
          Everyone on our team is responsible for moving the needle. We push code dozens of times a day. Big ideas are broken into small pieces so that we can learn quickly. Want to move faster?
      %li
        %h3
          Reach Millions
        %p
          Per day, we touch millions of people and generate millions of dollars of transactions. Want to build applications at scale?
      %li
        %h3
          Help Transform Small Businesses
        %p
          We build tools that help small businesses succeed in hundreds of cities around the world. Want to make a difference in the life of a small business owner?
  //why work for

  %section.location
    .location-details
      %h3
        Washington, DC
      %p.address
        1445 New York Ave Washington, DC
      %p
        LivingSocial's HQ, located steps from US's HQ, the White House. We do team standups walking around the National Mall.
      %ul.locations
        %li
          %a{:href => '/'}
            San Diego, CA
        %li
          %a{:href => '/'}
            Boulder, CO
        %li
          %a{:href => '/'}
            Seattle, WA
        %li
          %a{:href => '/'}
            Dallas, TX
        %li
          %a{:href => '/'}
            Montpellier, France
        %li
          %a{:href => '/'}
            Edinburgh, Scotland
        %li
          %a{:href => '/'}
            Rochester, NC
        %li
          %a{:href => '/'}
            Rio de Janiero
        %li
          %a{:href => '/'}
            Wake Forrest, NC
        %li
          %a{:href => '/'}
            Dubai, UAE
        %li
          %a{:href => '/'}
            Portland, OR
  //location

  %section.books
    %header
      %h2
        Books our team has written
      %ul
        %li
          %a{:href => '/'}
            =image_tag("profile/profile-img.jpg")
        %li
          %a{:href => '/'}
            =image_tag("profile/profile-img.jpg")
        %li
          %a{:href => '/'}
            =image_tag("profile/profile-img.jpg")
        %li
          %a{:href => '/'}
            =image_tag("profile/profile-img.jpg")
        %li
          %a{:href => '/'}
            =image_tag("profile/profile-img.jpg")
        %li
          %a{:href => '/'}
            =image_tag("profile/profile-img.jpg")
  //books

  %section.meet
    %ol
      %li.event
        %h3
          Rubyconf
        %ul
          %li
            United States / Denver, CO
          %li
            November 1 - 3, 2012
        %p.date
          1
          %span.month
            Nov

      %li.event
        %h3
          Scotland on Rails
        %ul
          %li
            United States / Denver, CO
          %li
            November 1 - 3, 2012
        %p.date
          1
          %span.month
            Nov
      %li.event
        %h3
          RubyNation
        %ul
          %li
            United States / Denver, CO
          %li
            November 1 - 3, 2012
          %p.date
            1
            %span.month
              Nov
  //meet










