=content_for :body_id do
  network

#network-header.cf
  %ul
    %li
      %a.current{:href => '/'}
        %h1 Following
    %li
      %a{:href => '/'}
        %h1 Followers
  %a.back-up{:href => '/'}
    Back up

.network-panel.cf
  %ul.network-list.cf
    / %li.no-followers
    /   %h1 Darn, no followers
    /   %p
    /     The best way to get followers is to start following some other
    /     %a{:href => '/'}
    /       cool folks,
    /     or even
    /     %a{:href => '/'}
    /       share a protip.
    %li.cf
      .user
        .level
          %p 8
        %a{:href => '/'}
          =image_tag("profile/profile-img.jpg")
        .user-details
          %h2
            %a{:href => '/'}
              Chris Wanstrath forked blah blah
          %h3 Web designer
      .team
        %a{:href => '/'}
          =image_tag("team-avatar.png")
        .team-details
          %h4
            %a{:href => '/'}
              Github

    %li.cf
      .user
        .level
          %p 8
        %a{:href => '/'}
          =image_tag("profile/profile-img.jpg")
        .user-details
          %h2
            %a{:href => '/'}
              Chris Wanstrath forked blah blah
          %h3 Web designer at the end of the world
      .team
        %a{:href => '/'}
          =image_tag("team-avatar.png")
        .team-details
          %h4
            %a{:href => '/'}
              Github
          %a.hiring{:href => '/'}
            We're hiring!
    %li.cf.me
      .user
        .level
          %p 8
        %p.pts
          73
          %span
            pts
        %a{:href => '/'}
          =image_tag("profile/profile-img.jpg")
        .user-details
          %h2 Chris Wanstrath
          %h3 Web designer
      .team
        .team-details
          %h4.you This is you!

    %li.cf
      .user
        .level
          %p 8
        %a{:href => '/'}
          =image_tag("profile/profile-img.jpg")
        .user-details
          %h2
            %a{:href => '/'}
              Chris Wanstrath forked blah blah
          %h3 Web designer
      .team
        %a{:href => '/'}
          =image_tag("team-avatar.png")
        .team-details
          %h4
            %a{:href => '/'}
              Github
          %a.hiring{:href => '/'}
            We're hiring!



  .more
    %a{:href => '/'}
      more



