<div class='cf' id='protip-grid-top'>
    <header class='cf grid-header'>
        <input class='network-search' type='text' value='search networks'/>
        <!-- %h1 -->
        <!-- All Networks -->
        <ul class='network-toplinks'>
            <li>
                <a href='/'>
                    Trending
                </a>
            </li>
            <li>
                <a href='/'>
          <span>
            My networks
          </span>
                </a>
            </li>
            <li>
                <a class='current' href='/'>
                    All networks
                </a>
            </li>
        </ul>
    </header>
</div>
<div class='inside-main-content cf'>
<ul class='networks-filter'>
    <li>
        <a class='current' href='/'>
            A - Z
        </a>
    </li>
    <li>
        <a href='/'>
            Most upvotes
        </a>
    </li>
    <li>
        <a href='/'>
            New users
        </a>
    </li>
    <li>
        <a href='/'>
            New protips
        </a>
    </li>
</ul>
<ol class='networks-list'>
<!-- A -->
<li class='cf'>
      <span class='letter'>
        A
      </span>
    <!-- Network -->
    <div class='network cf'>
        <h2>
            <a href='/'>
                ActionScript
            </a>
        </h2>
        <ul class='tips-and-users'>
            <li>
                <a class='users' href='/'>
                    Members
              <span>
                13
              </span>
                </a>
            </li>
            <li>
                <a class='tips' href='/'>
                    Protips
              <span>
                13
              </span>
                </a>
            </li>
        </ul>
        <a class='join' href='/'>
            Join
        </a>
    </div>
    <!-- Network -->
    <div class='network cf'>
        <h2>
            <a class='class' href='/'>
                ActionScript
            </a>
        </h2>
        <ul class='tips-and-users'>
            <li>
                <a class='users' href='/'>
                    Members
              <span>
                13
              </span>
                </a>
                <a class='new' href='/'>
                    13
                </a>
            </li>
            <li>
                <a class='tips' href='/'>
                    Pro tips
              <span>
                13
              </span>
                </a>
                <a class='new' href='/'>
                    13
                </a>
            </li>
        </ul>
        <a class='join member' href='/'>
            Member
        </a>
    </div>
    <!-- Network -->
    <div class='network cf'>
        <h2>
            <a href='/'>
                ActionScript
            </a>
        </h2>
        <ul class='tips-and-users'>
            <li>
                <a class='users' href='/'>
                    Members
              <span>
                13
              </span>
                </a>
            </li>
            <li>
                <a class='tips' href='/'>
                    Protips
              <span>
                13
              </span>
                </a>
            </li>
        </ul>
        <a class='join' href='/'>
            Join
        </a>
    </div>
    <!-- Network -->
    <div class='network cf'>
        <h2>
            <a class='class' href='/'>
                ActionScript
            </a>
        </h2>
        <ul class='tips-and-users'>
            <li>
                <a class='users' href='/'>
                    Members
              <span>
                13
              </span>
                </a>
                <a class='new' href='/'>
                    13
                </a>
            </li>
            <li>
                <a class='tips' href='/'>
                    Pro tips
              <span>
                13
              </span>
                </a>
                <a class='new' href='/'>
                    13
                </a>
            </li>
        </ul>
        <a class='join member' href='/'>
            Member
        </a>
    </div>
    <!-- Network -->
    <div class='network cf'>
        <h2>
            <a class='class' href='/'>
                ActionScript
            </a>
        </h2>
        <ul class='tips-and-users'>
            <li>
                <a class='users' href='/'>
                    Members
              <span>
                13
              </span>
                </a>
                <a class='new' href='/'>
                    13
                </a>
            </li>
            <li>
                <a class='tips' href='/'>
                    Pro tips
              <span>
                13
              </span>
                </a>
                <a class='new' href='/'>
                    13
                </a>
            </li>
        </ul>
        <a class='join member' href='/'>
            Member
        </a>
    </div>
    <!-- More networks -->
    <!-- %a.more-networks{:href => '/'} -->
    <!-- More networks -->
</li>
<!-- B -->
<li class='cf'>
      <span class='letter'>
        B
      </span>
    <!-- Network -->
    <div class='network cf'>
        <h2>
            <a href='/'>
                ActionScript
            </a>
        </h2>
        <ul class='tips-and-users'>
            <li>
                <a class='users' href='/'>
                    Members
              <span>
                13
              </span>
                </a>
            </li>
            <li>
                <a class='tips' href='/'>
                    Protips
              <span>
                13
              </span>
                </a>
            </li>
        </ul>
        <a class='join' href='/'>
            Join
        </a>
    </div>
    <!-- Network -->
    <div class='network cf'>
        <h2>
            <a class='class' href='/'>
                ActionScript
            </a>
        </h2>
        <ul class='tips-and-users'>
            <li>
                <a class='users' href='/'>
                    Members
              <span>
                13
              </span>
                </a>
                <a class='new' href='/'>
                    13
                </a>
            </li>
            <li>
                <a class='tips' href='/'>
                    Pro tips
              <span>
                13
              </span>
                </a>
                <a class='new' href='/'>
                    13
                </a>
            </li>
        </ul>
        <a class='join member' href='/'>
            Member
        </a>
    </div>
    <!-- Network -->
    <div class='network cf'>
        <h2>
            <a href='/'>
                ActionScript
            </a>
        </h2>
        <ul class='tips-and-users'>
            <li>
                <a class='users' href='/'>
                    Members
              <span>
                13
              </span>
                </a>
            </li>
            <li>
                <a class='tips' href='/'>
                    Protips
              <span>
                13
              </span>
                </a>
            </li>
        </ul>
        <a class='join' href='/'>
            Join
        </a>
    </div>
    <!-- Network -->
    <div class='network cf'>
        <h2>
            <a class='class' href='/'>
                ActionScript
            </a>
        </h2>
        <ul class='tips-and-users'>
            <li>
                <a class='users' href='/'>
                    Members
              <span>
                13
              </span>
                </a>
                <a class='new' href='/'>
                    13
                </a>
            </li>
            <li>
                <a class='tips' href='/'>
                    Pro tips
              <span>
                13
              </span>
                </a>
                <a class='new' href='/'>
                    13
                </a>
            </li>
        </ul>
        <a class='join member' href='/'>
            Member
        </a>
    </div>
    <!-- Network -->
    <div class='network cf'>
        <h2>
            <a class='class' href='/'>
                ActionScript
            </a>
        </h2>
        <ul class='tips-and-users'>
            <li>
                <a class='users' href='/'>
                    Members
              <span>
                13
              </span>
                </a>
                <a class='new' href='/'>
                    13
                </a>
            </li>
            <li>
                <a class='tips' href='/'>
                    Pro tips
              <span>
                13
              </span>
                </a>
                <a class='new' href='/'>
                    13
                </a>
            </li>
        </ul>
        <a class='join member' href='/'>
            Member
        </a>
    </div>
    <!-- More networks -->
    <!-- %a.more-networks{:href => '/'} -->
    <!-- More networks -->
</li>
<!-- C -->
<li class='cf'>
      <span class='letter'>
        C
      </span>
    <!-- Network -->
    <div class='network cf'>
        <h2>
            <a href='/'>
                ActionScript
            </a>
        </h2>
        <ul class='tips-and-users'>
            <li>
                <a class='users' href='/'>
                    Members
              <span>
                13
              </span>
                </a>
            </li>
            <li>
                <a class='tips' href='/'>
                    Protips
              <span>
                13
              </span>
                </a>
            </li>
        </ul>
        <a class='join' href='/'>
            Join
        </a>
    </div>
    <!-- Network -->
    <div class='network cf'>
        <h2>
            <a class='class' href='/'>
                ActionScript
            </a>
        </h2>
        <ul class='tips-and-users'>
            <li>
                <a class='users' href='/'>
                    Members
              <span>
                13
              </span>
                </a>
                <a class='new' href='/'>
                    13
                </a>
            </li>
            <li>
                <a class='tips' href='/'>
                    Pro tips
              <span>
                13
              </span>
                </a>
                <a class='new' href='/'>
                    13
                </a>
            </li>
        </ul>
        <a class='join member' href='/'>
            Member
        </a>
    </div>
    <!-- Network -->
    <div class='network cf'>
        <h2>
            <a href='/'>
                ActionScript
            </a>
        </h2>
        <ul class='tips-and-users'>
            <li>
                <a class='users' href='/'>
                    Members
              <span>
                13
              </span>
                </a>
            </li>
            <li>
                <a class='tips' href='/'>
                    Protips
              <span>
                13
              </span>
                </a>
            </li>
        </ul>
        <a class='join' href='/'>
            Join
        </a>
    </div>
    <!-- Network -->
    <div class='network cf'>
        <h2>
            <a class='class' href='/'>
                ActionScript
            </a>
        </h2>
        <ul class='tips-and-users'>
            <li>
                <a class='users' href='/'>
                    Members
              <span>
                13
              </span>
                </a>
                <a class='new' href='/'>
                    13
                </a>
            </li>
            <li>
                <a class='tips' href='/'>
                    Pro tips
              <span>
                13
              </span>
                </a>
                <a class='new' href='/'>
                    13
                </a>
            </li>
        </ul>
        <a class='join member' href='/'>
            Member
        </a>
    </div>
    <!-- Network -->
    <div class='network cf'>
        <h2>
            <a class='class' href='/'>
                ActionScript
            </a>
        </h2>
        <ul class='tips-and-users'>
            <li>
                <a class='users' href='/'>
                    Members
              <span>
                13
              </span>
                </a>
                <a class='new' href='/'>
                    13
                </a>
            </li>
            <li>
                <a class='tips' href='/'>
                    Pro tips
              <span>
                13
              </span>
                </a>
                <a class='new' href='/'>
                    13
                </a>
            </li>
        </ul>
        <a class='join member' href='/'>
            Member
        </a>
    </div>
    <!-- More networks -->
    <!-- %a.more-networks{:href => '/'} -->
    <!-- More networks -->
</li>
</ol>
</div>
