#protip-grid-top.cf
  %header.cf.grid-header
    %input.network-search(type='text' value='search networks')
    / %h1
    /   All Networks
    %ul.network-toplinks
      %li
        %a{:href => '/'}
          Trending
      %li
        %a{:href => '/'}
          %span
            My networks
      %li
        %a.current{:href => '/'}
          All networks
.inside-main-content.cf
  %ul.networks-filter
    %li
      %a.current{:href => '/'}
        A - Z
    %li
      %a{:href => '/'}
        Most upvotes
    %li
      %a{:href => '/'}
        New users
    %li
      %a{:href => '/'}
        New protips

  %ol.networks-list

    / A
    %li.cf
      %span.letter
        A

      /Network
      .network.cf
        %h2
          %a{:href => '/'}
            ActionScript
        %ul.tips-and-users
          %li
            %a.users{:href => '/'}
              Members
              %span
                13
          %li
            %a.tips{:href => '/'}
              Protips
              %span
                13
        %a.join{:href => '/'}
          Join

      /Network
      .network.cf
        %h2
          %a.class{:href => '/'}
            ActionScript
        %ul.tips-and-users
          %li
            %a.users{:href => '/'}
              Members
              %span
                13
            %a.new{:href => '/'}
              13

          %li
            %a.tips{:href => '/'}
              Pro tips
              %span
                13
            %a.new{:href => '/'}
              13
        %a.join.member{:href => '/'}
          Member

      /Network
      .network.cf
        %h2
          %a{:href => '/'}
            ActionScript
        %ul.tips-and-users
          %li
            %a.users{:href => '/'}
              Members
              %span
                13
          %li
            %a.tips{:href => '/'}
              Protips
              %span
                13
        %a.join{:href => '/'}
          Join

      /Network
      .network.cf
        %h2
          %a.class{:href => '/'}
            ActionScript
        %ul.tips-and-users
          %li
            %a.users{:href => '/'}
              Members
              %span
                13
            %a.new{:href => '/'}
              13

          %li
            %a.tips{:href => '/'}
              Pro tips
              %span
                13
            %a.new{:href => '/'}
              13
        %a.join.member{:href => '/'}
          Member

      /Network
      .network.cf
        %h2
          %a.class{:href => '/'}
            ActionScript
        %ul.tips-and-users
          %li
            %a.users{:href => '/'}
              Members
              %span
                13
            %a.new{:href => '/'}
              13

          %li
            %a.tips{:href => '/'}
              Pro tips
              %span
                13
            %a.new{:href => '/'}
              13
        %a.join.member{:href => '/'}
          Member

      /More networks
      / %a.more-networks{:href => '/'}
      /   More networks


    / B
    %li.cf
      %span.letter
        B

      /Network
      .network.cf
        %h2
          %a{:href => '/'}
            ActionScript
        %ul.tips-and-users
          %li
            %a.users{:href => '/'}
              Members
              %span
                13
          %li
            %a.tips{:href => '/'}
              Protips
              %span
                13
        %a.join{:href => '/'}
          Join

      /Network
      .network.cf
        %h2
          %a.class{:href => '/'}
            ActionScript
        %ul.tips-and-users
          %li
            %a.users{:href => '/'}
              Members
              %span
                13
            %a.new{:href => '/'}
              13

          %li
            %a.tips{:href => '/'}
              Pro tips
              %span
                13
            %a.new{:href => '/'}
              13
        %a.join.member{:href => '/'}
          Member

      /Network
      .network.cf
        %h2
          %a{:href => '/'}
            ActionScript
        %ul.tips-and-users
          %li
            %a.users{:href => '/'}
              Members
              %span
                13
          %li
            %a.tips{:href => '/'}
              Protips
              %span
                13
        %a.join{:href => '/'}
          Join

      /Network
      .network.cf
        %h2
          %a.class{:href => '/'}
            ActionScript
        %ul.tips-and-users
          %li
            %a.users{:href => '/'}
              Members
              %span
                13
            %a.new{:href => '/'}
              13

          %li
            %a.tips{:href => '/'}
              Pro tips
              %span
                13
            %a.new{:href => '/'}
              13
        %a.join.member{:href => '/'}
          Member

      /Network
      .network.cf
        %h2
          %a.class{:href => '/'}
            ActionScript
        %ul.tips-and-users
          %li
            %a.users{:href => '/'}
              Members
              %span
                13
            %a.new{:href => '/'}
              13

          %li
            %a.tips{:href => '/'}
              Pro tips
              %span
                13
            %a.new{:href => '/'}
              13
        %a.join.member{:href => '/'}
          Member

      /More networks
      / %a.more-networks{:href => '/'}
      /   More networks

    / C
    %li.cf
      %span.letter
        C

      /Network
      .network.cf
        %h2
          %a{:href => '/'}
            ActionScript
        %ul.tips-and-users
          %li
            %a.users{:href => '/'}
              Members
              %span
                13
          %li
            %a.tips{:href => '/'}
              Protips
              %span
                13
        %a.join{:href => '/'}
          Join

      /Network
      .network.cf
        %h2
          %a.class{:href => '/'}
            ActionScript
        %ul.tips-and-users
          %li
            %a.users{:href => '/'}
              Members
              %span
                13
            %a.new{:href => '/'}
              13

          %li
            %a.tips{:href => '/'}
              Pro tips
              %span
                13
            %a.new{:href => '/'}
              13
        %a.join.member{:href => '/'}
          Member

      /Network
      .network.cf
        %h2
          %a{:href => '/'}
            ActionScript
        %ul.tips-and-users
          %li
            %a.users{:href => '/'}
              Members
              %span
                13
          %li
            %a.tips{:href => '/'}
              Protips
              %span
                13
        %a.join{:href => '/'}
          Join

      /Network
      .network.cf
        %h2
          %a.class{:href => '/'}
            ActionScript
        %ul.tips-and-users
          %li
            %a.users{:href => '/'}
              Members
              %span
                13
            %a.new{:href => '/'}
              13

          %li
            %a.tips{:href => '/'}
              Pro tips
              %span
                13
            %a.new{:href => '/'}
              13
        %a.join.member{:href => '/'}
          Member

      /Network
      .network.cf
        %h2
          %a.class{:href => '/'}
            ActionScript
        %ul.tips-and-users
          %li
            %a.users{:href => '/'}
              Members
              %span
                13
            %a.new{:href => '/'}
              13

          %li
            %a.tips{:href => '/'}
              Pro tips
              %span
                13
            %a.new{:href => '/'}
              13
        %a.join.member{:href => '/'}
          Member

      /More networks
      / %a.more-networks{:href => '/'}
      /   More networks


