.inside.cf
  .dark-screen
  //.blur-screen
  .tip-container.cf
    %article.protip-content
      %a.share-this-tip{:href => '/'}
        Share this
      %a.upvote{:href => '/'}
        %span 100
      %h1 styling ordered list numbers
      %p.views
        %span 340
        views
      %ul#tags.cf
        %li
          %a{:href => '/'} Ruby on rails
        %li
          %a{:href => '/'} Ruby on rails
      .tip-body
        %p When styling lists I inevitably remove the default bullet points or numbers with CSS, using something like.

        %p And end up replacing the bullet or number with a background image. This works great, until you need those incrementing numbers back and don't want to get into the situation where you are hard coding numbers and using extra mark up to re-create them.

        %p However the styling options for the default bullets and numbers are limited to say the least and we all want pretty numbers, don't we.

        %p So, I found a great solution for this today (via Mr Ashley Stevens) using pseudo selectors and the little known CSS generated content properties:

    %aside.tip-sidebar
      .user-box
        %a.avatar{:href => '/'}
          =image_tag("profile/profile-img.jpg")

        %ul.user-team
          %li.user
            by
            %a{:href => '/'}
              Oli Lisher
          %li.team
            of
            %a{:href => '/'}
              Klout

        %p.bio
          Web interface designer & front end developer. Head pixel pusher at Coderwall.

        %ul.side-bar-list

          %li
            %a.name{:href => '/'} Olilish
            %a.follow{:href => '/'}

          %li
            %a.name{:href => '/'} Klout
            %a.follow{:href => '/'}


      .side-btm
        %h3 Networks
        %ul.side-bar-list.side-bar-networks

          %li.design
            %a.name{:href => '/'} Design
            %a.follow{:href => '/'}

          %li.python
            %a.name{:href => '/'} Python
            %a.follow{:href => '/'}

          %li.wordpress
            %a.name{:href => '/'} Wordpress
            %a.follow{:href => '/'}

        %h3 Featured team
        .team-box
          .image-top
            =image_tag("home-top-bg.jpg")
          .content
            %a.avatar{:href => '/'}
              =image_tag("profile/profile-img.jpg")
            %h4 SoundCloud
            %p Calling all front end devs, SoundCloud is awesome and hiring!
