.wrapper
	%header.site-header.cf
		%a.new-home-logo{:href => '/'}
			%span
				Coderwall
		%p.login
			Already have an account?
			%a{:href => '/'}
				Login
	%section.intro
		%h1
			Where developers meet developers doing interesting things.
		%h2
			Join us
		%ul.sign-up-list
			%li
				%a{:href => '/'}
					%span.git
					Git hub
			%li
				%a{:href => '/'}
					%span.twitter
					Twitter
			%li
				%a{:href => '/'}
					%span.linkedin
					Linkedin
	%section.slides
		%ul
			%li.profile-slide
				.browser
				.bubble
					%h3
						What type of developer are you? Share, unlock achievements, and establish your geek cred.

			%li.protips-slide
				.browser
				.bubble
					%h3
						Learn new pro tips from the experts, develop your craft.

			%li.teams-slide
				.browser
				.bubble
					%h3
						Discover brilliant engineering teams, find your dream job with one
	=render :partial => 'shared/footer'


