%section.ratio-content.cf
  .ratio-content-inside.cf
    .ratio-left
      %h1 Change the ratio
      %p coderwall represents the best web developers in the world. Currently only 3% of our users have 2 X chromosomes.
      %p.last We want to help change the ratio and encourage more female developers to sign up and show off their geek cred.
      .feature-box.cf
        %h2 The lady devs in our 3%
        %ul.ladies-list.cf
          -12.times do
            =render :partial => 'lady'

        %ul.tabs.cf
          %li
            %a.our-ladies{:href => "/"} Our ladies
          %li
            %a.the-stats{:href => "/"} The stats

    .ratio-right
      %a.bubble{:href => "/"}
        %h3 Help to change the ratio
      .lady
        %h4 3
      .man
        %h4 97
%section.ratio-sub-content
  .ratio-sub-content-inside.cf
    %h2
      %span Help make the change
    %ol.actions.cf
      %li
        %p.number 1
        %h3 Share
        %p.text-box Invite fellow female coders via Facebook & LinkedIn. Spread the  word, change the ratio!
        %a{:href= => "/"} Share
      %li
        %p.number 2
        %h3 Join us
        %p.text-box Stand out and be recognised for the awesome things you're learning and building.
        %a{:href => "/"} Sign-up for coderwall
