%section.top-heading
  .inside
    %h1
      Learn your market value,
      %strong
        find a team that challenges you,
      and discover a company building something you
      %strong
        absolutely love.

.inside-main-content.cf
  %ul.icon-list.cf
    %li
      .image.no
      No Recruiters, only amazing companies matched to you and your goals.
    %li
      .image.coffee
      No work to do, we’ll screen companies and you choose who you’d like to talk with.
    %li
      .image.eye
      100% private. You can learn your market value without your employer knowing.

  %form.pb-form
    .form-section.cf.needs-and-or
      .header.cf
        %h2 What do you want to do next?
        %p.private Private
      .left
        .use-account.cf
          %label.normal-label Use my github & linkedin account to start my personalized matchmaking algorithm.
          %input{:name => "vehicle", :type => "checkbox", :value => "Bike"}

        %p.hint
          We only send pitches that pass your personalized matching algorithm. It continuously improves, making pitches get even better over time.
        %label.normal-label
          Interested in:
        %ul.interested-in.cf
          %li
            %input{:name => "full-time", :type => "checkbox", :for => "full-time"}
            %label.btn.full-time{:for => "full-time"} Full time
          %li
            %input{:name => "full-time", :type => "checkbox", :for => "part-time"}
            %label.btn.part-time{:for => "part-time"} Part time

      .right
        %label.normal-label
          Tell us about your goals? (Max 140 characters)
        %textarea.goals
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.

    .form-section.cf
      .header.cf
        %h2 How much do you want to make?
        %p.private Private
      %ul.amount-btns.cf
        %li
          %input{:name => "80k", :type => "radio", :value => "80k"}
          %label.btn{:for => "full-time"} 80k
        %li
          %input{:name => "80k", :type => "radio", :value => "80k"}
          %label.btn{:for => "full-time"} 80k
        %li
          %input{:name => "80k", :type => "radio", :value => "80k"}
          %label.btn{:for => "full-time"} 80k
        %li
          %input{:name => "80k", :type => "radio", :value => "80k"}
          %label.btn{:for => "full-time"} 80k
        %li
          %input{:name => "80k", :type => "radio", :value => "80k"}
          %label.btn{:for => "full-time"} 80k
        %li
          %input{:name => "80k", :type => "radio", :value => "80k"}
          %label.btn{:for => "full-time"} 80k

    .form-section.cf
      .header.cf
        %h2 Your background
        %p.private Private
      %ul.form-list.cf
        %li
          %label.normal-label Current title
          %input{:type => "text", :value => "e.g: Web Developer"}
        %li
          %label.normal-label Location
          %input{:type => "text", :value => "e.g: Chichester, UK"}
        %li
          %label.normal-label Current Employer
          %input{:type => "text", :value => "e.g: Facebook"}

        %li
          %label.normal-label Working Status
          %ul.inside-list
            %li
              Requires Visa assistance to work in the US
              %input{:name => "vehicle", :type => "checkbox", :value => "Bike"}
            %li
              Interested in relocating
              %input{:name => "vehicle", :type => "checkbox", :value => "Bike"}

    .submit-section.cf
      %input{:type => "submit", :value => "Sure, I’ll privately try it", :class => "try-it btn"}
      %a.skip.btn{:href => '/'}
        Skip for now



  %section.how-it-works
    %h2.sub-header
      How it works
    %ul.how-icon-list.cf
      %li
        %span.number 1
        Briefly tell us what you want from your job.
      %li
        %span.number 2
        You'll received pitch when we matchmake you with only the best companies we've hand picked.
      %li
        %span.number 3
        A personally curated pitch is packed with rich information about the company, the team you'd work with, and the interesting challenges.
      %li
        %span.number 4
        We'll arrange a no-commitment phone conversation with developers at companies with pitches you like. Only interview with awesome companies.


