#protip-grid-top.cf
  %header.cf.grid-header
    /%input.network-search(type='text' value='search networks')
    %h1.underline-test
      Javascript
    / %a.about-networks{:href => '/'}
    /   Read more
    %ul.network-toplinks
      %li
        %a{:href => '/'}
          Trending
      %li
        %a{:href => '/'}
          %span
            My networks
      %li
        %a.current{:href => '/'}
          All networks

.inside-main-content.cf
  / .combined-networks.cf
  /   %a.close{:href => '/'}
  /     %span
  /       Close
  /   %p
  /     This network includes:
  /   %ul.cf
  /     %li
  /       jQuery,
  /     %li
  /       MooTools

  %aside.protips-sidebar
    %ul.protip-actions
      %li
        %a.member{:href => '/'}
      %li
        %a.share{:href => '/'}
          Share a protip
    %ul.filter
      %li
        %a{:href => '/'}
          Most upvotes
      %li
        %a.active{:href => '/'}
          New
        %span
          4
      %li
        %a{:href => '/'}
          Featured
        %span
          4
      %li
        %a{:href => '/'}
          Members

    .network-details
      %h3 Network details
      %p
        %ul.tag-list.cf
          %li
            %a{:href => '/'}
              jQuery
          %li
            %a{:href => '/'}
              MooTools
          %li
            %a{:href => '/'}
              Node.js
          %li
            %a{:href => '/'}
              Backbone.js

    / .side-box
    /   .side-box-header
    /     %h3 Network details
    /   .inside.cf
    /     %p
    /       This network includes: jQuery, MooTools, Node.js, Backbone.js

    / .side-box
    /   .side-box-header.expert
    /     %h3 Resident Expert
    /   .inside.cf
    /     %a.avatar{:href => '/'}
    /       =image_tag("profile/profile-img.jpg")
    /     %ul.details
    /       %li
    /         %a.users{:href => '/'}
    /           Mdeiters mdeiters mdetiers
    /       %li
    /         %a.tips{:href => '/'}
    /           View protips
    /     %p.resident-text
    /       Our resident experts are industry leaders in their field.

    .side-box
      .side-box-header.mayor
        %h3 Mayor
      .inside.cf
        %a.avatar{:href => '/'}
          =image_tag("profile/profile-img.jpg")
        %ul.details
          %li
            %a.users{:href => '/'}
              Mdeiters mdeiters mdetiers
          %li
            %a.tips{:href => '/'}
              View protips

    / .side-box
    /   .side-box-header.mayor
    /     %h3 Mayor
    /   .inside.cf
    /     %p
    /       Want to become the mayor of Javascript? Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
    /



  %ul.list-of-tips.threecols.cf
    %li
    %li
    %li


  %ul.list-of-members.cf
    %li
      .header.cf
        %a.user{:href => '/'}
          =image_tag("profile/profile-img.jpg")
        .details
          %h2
            %a{:href => '/'}
              Oliver Lisher
          %ul
            %li
              Member of
              %a.user{:href => '/'}
                Coderwall
            %li
              Web designer and developer

      %ul.actions-list
        %li
          %a.view{:href => '/'}
            Profile
        %li
          %a.write-tip{:href => '/'}
            Protips

    %li
      .header.cf
        %a.user{:href => '/'}
          =image_tag("profile/profile-img.jpg")
        .details
          %h2
            %a{:href => '/'}
              Oliver Lisher Oliver Lisher
          %ul
            %li
              On team
              %a.user{:href => '/'}
                Coderwall coderwall coderwall
            %li
              Developer

      %ul.actions-list
        %li
          %a.view{:href => '/'}
            Profile
        %li
          %a.write-tip{:href => '/'}
            Protips

    %li
      .header.cf
        %a.user{:href => '/'}
          =image_tag("profile/profile-img.jpg")
        .details
          %h2
            %a{:href => '/'}
              Oliver Lisher
          %ul
            %li
              %a.user{:href => '/'}
                Coderwall

      %ul.actions-list
        %li
          %a.view{:href => '/'}
            Profile
        %li
          %a.write-tip{:href => '/'}
            Protips

  .three-cols-more
    %a.protip-pagination{:href => '/'}
      More
