.main-content
  %section.wrapper
    %header.masthead.cf
      %a.desc-logo{:href => 'https://coderwall.com'}
        %span Coderwall
        =image_tag("premium-team-description/logo.png")
      %h2 Enhanced team profile

    %section.title#learnmore
      %h1 Signup to publish your shiny new team page
    %section.packages
      %ul
        %li.free
          %h2 Starter
          %h3 $0
          %ul
            %li Beautiful, personally branded team page
            %li Beautiful, personally branded team page
            %li Beautiful, personally branded team page
          %footer
            %a{:href => '/'}
              go back

        %li.center.monthly
          %h2 Monthly
          %h3
            $150
            %span
              pm
          %ul
            %li Beautiful, personally branded team page
            %li Beautiful, personally branded team page
            %li Beautiful, personally branded team page
            %li
              Beautiful, personally branded team page
              %a{:href => '/'}
                hiring teams page
            %li Beautiful, personally branded team page Beautiful, personally branded team page
            %li Beautiful, personally branded team page
          %footer
            %a{:href => '/'}
              go back

        %li.one-off
          %h2 One-off
          %h3
            $300
            %span
              Per job
          %ul
            %li Beautiful, personally branded team page
            %li Beautiful, personally branded team page
            %li Beautiful, personally branded team page
            %li Beautiful, personally branded team page
            %li
              Beautiful, personally branded team page Beautiful, personally branded team page
              %a{:href => '/'}
                hiring teams page
            %li Beautiful, personally branded team page
            %li Beautiful, personally branded team page
            %li Beautiful, personally branded team page
          %footer
            %a{:href => '/'}
              go back

    %section.card-section.cf
      %h2 Enter your payment details
      / %form.sign-up-form{:name => "whatever"}
      /   %fieldset
      /     %ol
      /       %li
      /         %label{:for => "cc"} CC Number:
      /         %input{:type => "text", :name => "cc", :class => "number", :placeholder =>"1234123412341234"}
      /       %li
      /         %label{:for => "cvc"} CVC Number:
      /         %input{:type => "text", :name => "cvc", :class => "short-number"}
      /       %li
      /         %label{:for => "mm"} MM Expiration:
      /         %input{:type => "text", :name => "mm", :class => "short-number"}
      /       %li
      /         %label{:for => "yyyy"} YYYY Expiration:
      /         %input{:type => "text", :name => "yyyy", :class => "short-number"}
      /       %li
      /         %input{:type => "submit", :value => "Send", :class => "button"}
      /   %small *You will not be charged until you publish a job position.
      %form.sign-up-form
        %fieldset.credit-card
          %h3 Payment Details
          .card-btm
            .card-number
              %label{:for => "name"} Long card number
              %input{:name => "name", :placeholder => "XXXX XXXX XXXX XXXX", :type => "text"}/
            .expiration
              %label Expiration
              %input{:name => "mm", :placeholder => "XX", :type => "text"}/
              %input{:name => "yy", :placeholder => "XX", :type => "text"}/
            .cvc
              %label CVC
              %input{:name => "cvc", :placeholder => "XX", :type => "text"}/
        %input{:type => "submit", :value => "Subscribe $15 a month"}/
    %section.faq
      %h2 FAQ
      %ul
        %li
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do?
        %li
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        %li
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do?
        %li
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        %li
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do?
        %li
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
