#protip-grid-top.cf
  %header.cf.grid-header
    %h1.underline-test
      Tip
    %a.about-networks{:href => '/'}
      Part of the JavaScript Network

.inside-main-content.cf
  %aside.protips-sidebar
    %ul.protip-actions
      %li
        %a.share{:href => '/'}
          Share a protip
    %ul.filter
      %li
        %a{:href => '/'}
          Most upvotes
      %li
        %a{:href => '/'}
          New
        %span
          4
      %li
        %a{:href => '/'}
          Featured
        %span
          4

  %ul.list-of-tips.threecols.cf
    %li
    %li
    %li
