-content_for :mixpanel do
  =record_view_event('invitations')

=content_for :body_id do
  join-team

%h1.big-title You've been recruited to join a team
#invitations.panel.cf
  -if !signed_in?
    %p Before you can accept the invitation you need to create a coderwall account or sign in.
    %ul.sign-btns
      %li=link_to('Sign Up', root_path, class: 'join')
      %li=link_to('Sign In', signin_path, id: 'signin', class: 'join')
  -else
    -if users_team = current_user.membership
      #currentteam
        %h2==You are currently on team #{users_team.team.name}
        = render "invitations/team_members", team: users_team
      .clear
    %h2 Team invitations
    = render "invitations/team_members", team: @team
