.link
  %h4=link_to(link.title, link.url, :target => :new)
  .content
    -if link.thumbnail?
      =link_to(image_tag(link.thumbnail_url), link.url, :target => :new)
    %p=link.description
  .users
    -User.find(link.user_ids).each do |user|
      =avatar_image_tag(user)

  / $('.link').live('mouseover', function(){
  /   $('.users').fadeOut();
  /   $(this).children('.users').fadeIn();
  / });

