/ probably need to filter by tech
/ allow users to add from this page
/ allow users to add TL;DR
/ pagination
/ need to be able to suppress

%h2 Trending tech headlines
.links
  .col1=render @links1
  .col2=render @links2
  .col3=render @links3