.queue
  %h1= @queue
  %ol
    - @items.each_with_index do |item, index|
      %li
        %ul.item
          %li
            = index+1
            )
          %li= item.queueable.class.name
          %li=link_to polymorphic_url(item.queueable), item.queueable
          %li=link_to 'Done', dequeue_processing_queue_path(:item => item.id), :method => :post
