%tr
  %td.main-content-grey{:style => "padding: 30px 60px; background:#ffffff;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"}
    %p{:style => "font-size: 16px; font-family:'Helvetica Neue','Helvetica','Arial','sans-serif'; margin-bottom: 10px;"}
      Hey
      == #{@user.short_name},

    %p{:style => "font-size: 14px; margin: 0; font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"}
      #{@commentor.username} has commented on your pro tip:
      =link_to @comment.protip.title, protip_url(@comment.protip.public_id), {:style => "color: #3D8DCC;"}
      ==
    %div{:style => "border-left: solid 5px #ECE9E2; padding-left: 10px; font-family:'Georgia','Times','Serif'; font-style: italic; font-size: 14px; line-height: 22px;"}
      =raw CFM::Markdown.render(escape_scripts(@comment.body))
    =link_to 'View/Reply', protip_url(@comment.protip.public_id) + "#comment_#{@comment.id}", {:style => "color: #3d8dcc; font-size: 14px;"}
