%tr
  %td.content-head{:style => "padding: 30px 60px;border-bottom: solid 1px #d4cfc4;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif'"}
    %h1{:style => "-webkit-font-smoothing: antialiased;color: #393939;font-size: 26px;margin-bottom: 20px;text-align: center;margin: 0;line-height: 100%;font-size: 28px;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"}
      Introducing Networks
%tr
  %td{:width=>"100%", :bgcolor=>"#ffffff"}
    %img{:alt => "The new coderwall", :src => image_path("email/networks.jpg"), :style => "width: 600;height: auto;line-height: 100%;outline: none;text-decoration: none;display: block;"}

%tr
  %td.content-head{:style => "padding: 30px 60px;border-bottom: solid 1px #d4cfc4;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif'"}
    %center{:style => "font-size: 16px;line-height: 22px;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"} Networks are a way to group pro tips and members. <br />
    %center{:style => "font-size: 16px;line-height: 22px;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"} They're simple. We love them and hope you love them, too.

%tr
  %td.main-content-grey{:style => "padding: 30px 60px;background: #ece9e2;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"}

    %h1{:style => "-webkit-font-smoothing: antialiased;color: #393939;font-size: 28px;margin-bottom: 20px;line-height: 100%;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"} Discover
    %p{:style => "font-size: 14px;line-height: 22px;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"}
      Since each network is built around a specific topic, and includes members whose skills relate to that topic, as well as all the relevant pro tips, you can discover content and members easier than ever.
    %p{:style => "font-size: 14px;line-height: 22px;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"}
      %a{:href => "https://coderwall.com/n/", :style => "color: #3d8dcc;text-decoration: none;"} Discover networks &rarr;

    .divider{:style => "height: 10px;background: #dbd7cd;"}

    %h1{:style => "-webkit-font-smoothing: antialiased;color: #393939;font-size: 28px;margin-bottom: 20px;line-height: 100%;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"} Get Recognized

    %p{:style => "font-size: 14px;line-height: 22px;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"}
      %a{:href => "https://coderwall.com/n/ruby-on-rails/mayor"}
        %img.image-right{:alt => "Filipe image", :src => image_path("https://coderwall-assets-0.s3.amazonaws.com/uploads/user/avatar/25824/Cam-1.jpg"), :style => "height: auto;line-height: 100%;outline: none;text-decoration: none;display: block;float: right;margin: 10px 0px 10px 20px; width:80px"}/
      %a{:href => "https://coderwall.com/faq#mayor"}
        %img.image-left{:alt => "Mayor Ribbon", :src => image_path("protips/mayor.png"), :style => "height: auto;line-height: 100%;outline: none;text-decoration: none;display: block;float: left;margin: 0px 10px 10px 0px;"}
      %b The Mayor <br />
      The mayor of a network is the person who has authored the most popular pro tips for that network. Write great pro tips and be featured as the mayor of the network. Check out Filipe, mayor of Git, who has written several
      %a{:href => "https://coderwall.com/n/git/mayor", :style => "color: #3d8dcc;text-decoration: none;font-size: 14px;"} helpful pro tips.

    %p{:style => "font-size: 14px;line-height: 22px;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"}
      %a{:href => "https://coderwall.com/n/git/expert"}
        %img.image-right{:alt => "Matthew image", :src => image_path("https://secure.gravatar.com/avatar/bededa744012c87721d68f69342f81b0"), :style => "height: auto;line-height: 100%;outline: none;text-decoration: none;display: block;float: right;margin: 10px 0px 10px 20px; width:80px;"}/
      %a{:href => "https://coderwall.com/faq#resident-expert"}
        %img{:alt => "The new coderwall", :src => image_path("protips/expert.png"), :style => "float: left;margin: 0px 10px 0px 0px;"}
      %b The Resident Expert <br />
      The resident expert of a network is a generally recognized authority on the network topic and is designated by Coderwall. Meet Matthew, Resident Expert of Git, who is a
      %a{:href => "https://coderwall.com/n/git/expert", :style => "color: #3d8dcc;text-decoration: none;font-size: 14px;"} wiz in git.

    .divider{:style => "height: 10px;background: #dbd7cd;"}

    %h1{:style => "-webkit-font-smoothing: antialiased;color: #393939;font-size: 28px;margin-bottom: 20px;line-height: 100%;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"} Stay in the loop
    %p{:style => "font-size: 14px;line-height: 22px;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"}
      Networks will keep you in the loop about what other awesome devs are building and doing by pushing the network’s updates to your dashboard. For example, did you know several Coderwall members spoke at the Open Source Convention (OSCON) in July? If you missed out, check out their pro tips they shared about their presentation in the
      %a{:href => "https://coderwall.com/n/oscon", :style => "color: #3d8dcc;text-decoration: none;font-size: 14px;"} Oscon network.
    %p
      %a{:href => "https://coderwall.com/n/oscon"}
        %img.image-left{:alt => "steve image", :src => "https://secure.gravatar.com/avatar/233c279c012ebac792aaa805f966cbc7", :style => "height: 80px;width: 80px;line-height: 100%;outline: none;text-decoration: none;display: block;float: left;margin: 5px;"}/
      %a{:href => "https://coderwall.com/n/oscon"}
        %img.image-left{:alt => "tim image", :src => "https://secure.gravatar.com/avatar/a234c21cb2781c557bcef84676d3821f", :style => "height: 80px;width: 80px;line-height: 100%;outline: none;text-decoration: none;display: block;float: left;margin: 5px;"}/
      %a{:href => "https://coderwall.com/n/oscon"}
        %img.image-left{:alt => "david image", :src => "https://secure.gravatar.com/avatar/f74253f4a099258870157426b4cdb2dc", :style => "height: 80px;width: 80px;line-height: 100%;outline: none;text-decoration: none;display: block;float: left;margin: 5px;"}/
      %a{:href => "https://coderwall.com/n/oscon"}
        %img.image-left{:alt => "john image", :src => "https://secure.gravatar.com/avatar/20196c9dc97267632ce6e6b778361eae", :style => "height: 80px;width: 80px;line-height: 100%;outline: none;text-decoration: none;display: block;float: left;margin: 5px;"}/
      %a{:href => "https://coderwall.com/n/oscon"}
        %img.image-left{:alt => "steve image", :src => "https://secure.gravatar.com/avatar/7bda40f7cf9bf734bb62fc7b5c752ce3", :style => "height: 80px;width: 80px;line-height: 100%;outline: none;text-decoration: none;display: block;float: left;margin: 5px;"}/
      %a{:href => "https://coderwall.com/n/oscon"}
        %img.image-left{:alt => "chris image", :src => "https://secure.gravatar.com/avatar/96a846bf1220d8e02ee5b5040e825bb5", :style => "height: 80px;width: 80px;line-height: 100%;outline: none;text-decoration: none;display: block;float: left;margin: 5px;"}/
      %a{:href => "https://coderwall.com/n/oscon"}
        %img.image-left{:alt => "ian image", :src => "https://secure.gravatar.com/avatar/967213c031e04954bf0957185a3cab53", :style => "height: 80px;width: 80px;line-height: 100%;outline: none;text-decoration: none;display: block;float: left;margin: 5px;"}/
      %a{:href => "https://coderwall.com/n/oscon"}
        %img.image-left{:alt => "andreas image", :src => "https://secure.gravatar.com/avatar/76b2eeff6d2b9c2bc6e7ce31da7e0ed2", :style => "height: 80px;width: 80px;line-height: 100%;outline: none;text-decoration: none;display: block;float: left;margin: 5px;"}/
      %a{:href => "https://coderwall.com/n/oscon"}
        %img.image-left{:alt => "lynn image", :src => "https://a0.twimg.com/profile_images/125258306/meRed_normal.jpg", :style => "height: 80px;width: 80px;line-height: 100%;outline: none;text-decoration: none;display: block;float: left;margin: 5px;"}/
      %a{:href => "https://coderwall.com/n/oscon"}
        %img.image-left{:alt => "lynn image", :src => "https://twimg0-a.akamaihd.net/profile_images/621287219/Photo_7.jpg", :height=> '80', :style => "height: 80px;width: 80px;line-height: 100%;outline: none;text-decoration: none;display: block;float: left;margin: 5px;"}/

%tr
  %td.main-content-grey{:style => "padding: 0px 60px 30px 60px;background: #ece9e2;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"}
    %a{:href => "https://coderwall.com/n/", :style => "color: #3d8dcc;text-decoration: none;"} Browse all networks &rarr;



