%tr
  %td.content-head{:style => "padding: 30px 60px;border-bottom: solid 1px #d4cfc4;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif'"}
    %h1{:style => "-webkit-font-smoothing: antialiased;color: #393939;font-size: 26px;margin-bottom: 20px;text-align: center;margin: 0;line-height: 100%;font-size: 28px;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"}
      Reserve your team page

%tr
  %td.main-content-grey{:style => "padding: 30px 60px;background: #ece9e2;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"}
    %p{:style => "font-size: 14px;line-height: 22px;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"}
      Hey Friend,

    %p{:style => "font-size: 14px;line-height: 22px;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"}
      Starting your team page is simple:
    %ol{:style => "font-size: 14px;line-height: 22px;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"}
      %li reserve a team name
      %li add your company logo
      %li invite your team members

    %p{:style => "font-size: 14px;line-height: 22px;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"}
      Plus, here are a few things we'll do to make your new team page better.
    %ul{:style => "font-size: 14px;line-height: 22px;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"}
      %li grab your member's pro tips and put them on your page
      %li scan your member's profile to populate your skills
      %li assign your team a score to rank against others
      %li beautifully display all of your members

    %p{:style => "font-size: 14px;line-height: 22px;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"}
      Voilà! You'll have a awesome page like Github and
    %p
      %img{:width => "500"}(src = "/images/email/github_profile.jpg")

    %p{:style => "font-size: 14px;line-height: 22px;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"}

      What are you waiting for?
      =link_to("Reserve your company's team page now.", new_team_url)
    .divider{:style => "height: 10px;background: #dbd7cd;"}
    %p{:style => "font-size: 14px;line-height: 22px;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"}
      We're always looking for new ways to make Coderwall an awesome home for developers and designers. If you have any questions or ideas, drop us a line at support@coderwall.com.
