!!!
%html{:style => "margin: 0;padding: 0;"}
  %head{:style => "margin: 0;padding: 0;"}
  %body{:style => "margin: 0;padding: 60px 0;background-color: #48494e; -webkit-font-smoothing: antialiased;width:100% !important; -webkit-text-size-adjust:none;"}

    %table.outside{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin: 20px auto;padding: 0 40px 20px 40px;width: 800px;", :width => "800"}
      %tr{:style => "margin: 0;padding: 0;"}
        %td{:style => "margin: 0;padding: 0;"}
          %table.tips{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin: 0;padding: 0;border: #cbc9c4 solid 2px;-webkit-border-radius: 6px;border-radius: 6px;overflow: hidden;"}
            %tr.title{:style => "margin: 0;padding: 0;height: 50px;line-height: 50px;"}
              %td{:colspan => "6", :style => "margin: 0;padding: 0;"}
                %h2{:style => "margin: 0;padding: 0;font-weight: normal;font-family: Georgia, Times, Times New Roman, serif;text-align: center;background: #ECE9E2;font-size: 19px;color: #48494e;"}
                  Unlock the new Entrepreneur badge

            %tr.tip{:style => 'background-color:#fff'}
              %td{:style => 'padding: 20px;font: 14px Helvetica Neue, Helvetica, Arial, sans-serif;'}
                %div{style: 'float:right'}
                  = image_tag("badges/entrepreneur.png")

                %p Hey #{@user.short_name},

                %p You're getting the first chance to unlock the brand new Entrepreneur Badge. Get a commit accepted to an Assembly product, earn the badge and let the money start rolling in!

                %p If you didn't know about Assembly, it's a crowd-building platform for Apps. Each month, the community picks an idea for an application. Then using Assembly, the app is built collaboratively and monthly profits are rewarded to all the contributors.

                %p Follow these three steps to unlock the badge:

                %p
                  %ol{style: 'padding-left:20px'}
                    %li{style: 'margin-bottom: 10px'}
                      Visit Assembly to learn more about
                      %a{href: 'https://assemblymade.com/helpful', style: 'color: #48494E;text-decoration: none'} Helpful (a support tool).

                    %li{style: 'margin-bottom: 10px'}
                      Find an open task on the
                      %a{href: 'https://assemblymade.com/helpful/wips', style: 'color: #48494E;text-decoration: none'} WIPs page
                      or jump in and create your own WIP

                    %li{style: 'margin-bottom: 10px'}
                      Once done, submit your pull request to the
                      %a{href: 'https://github.com/asm-helpful/helpful-web', style: 'color: #48494E;text-decoration: none'} GitHub repo
                      and kick back with your new Entrepreneur badge

                %p Happy Coding



      %table.outside{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin: 0 auto;padding: 0 40px 20px 40px;width: 600px;background: #48494e;", :width => "600"}
        %tr{:style => "margin: 0;padding: 0;"}
          %td{:style => "margin: 0;padding: 0;text-align:center"}
            %p.reminder{:style => "color:#fff;font-size:12px;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';margin-top:0;margin-bottom:15px;padding-top:0;padding-bottom:0;line-height:18px;"} You're receiving this email because you signed up for Coderwall. We hate spam and make an effort to keep notifications to a minimum.
            %p{:style => "color:#c9c9c9;font-size:12px;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';"}
              %preferences{:style => "color:#3ca7dd;text-decoration:none;"}>
                %strong
                  %a{:href => "https://coderwall.com/settings#email", :style => "color:#3ca7dd;text-decoration:none;"} Edit your subscription
              \  |  
              %unsubscribe{:style => "color:#3ca7dd;text-decoration:none;"}
                %strong
                  %a{:href => '%unsubscribe_url%', :style => "color:#3ca7dd;text-decoration:none;"} Unsubscribe instantly