@import "normailze";

//Variables
$cream: #E7EDDE;
$dark-cream: #D3D9CB;
$yellow: #e0a32e;
$blue: #6baba1;
$red: #e7603b;
$dark-grey: #303030;
$radius: 4px;
$transition-speed: all 0.2s ease-out;

//Mixins
@mixin border-radius($radius) {
  border-radius: $radius;
}

@mixin transition-all {
  transition: $transition-speed;
}

//fonts
@font-face {
  font-family: 'SaturnVRegular';
  src: url('https://fonts.coderwall.com/fonts/saturnv-webfont.eot');
  src: url('https://fonts.coderwall.com/fonts/saturnv-webfont.eot?#iefix') format('embedded-opentype'), url('https://fonts.coderwall.com/fonts/saturnv-webfont.woff') format('woff'), url('https://fonts.coderwall.com/fonts/saturnv-webfont.ttf') format('truetype'), url('https://fonts.coderwall.com/fonts/saturnv-webfont.svg#SaturnVRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WisdomScriptAIRegular';
  src: url('https://fonts.coderwall.com/fonts/wisdom_script-webfont.eot');
  src: url('https://fonts.coderwall.com/fonts/wisdom_script-webfont.eot?#iefix') format('embedded-opentype'), url('https://fonts.coderwall.com/fonts/wisdom_script-webfont.woff') format('woff'), url('https://fonts.coderwall.com/fonts/wisdom_script-webfont.ttf') format('truetype'), url('https://fonts.coderwall.com/fonts/wisdom_script-webfont.svg#WisdomScriptAIRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LiberatorRegular';
  src: url('https://fonts.coderwall.com/fonts/liberator-webfont.eot');
  src: url('https://fonts.coderwall.com/fonts/liberator-webfont.eot?#iefix') format('embedded-opentype'), url('https://fonts.coderwall.com/fonts/liberator-webfont.woff') format('woff'), url('https://fonts.coderwall.com/fonts/liberator-webfont.ttf') format('truetype'), url('https://fonts.coderwall.com/fonts/liberator-webfont.svg#LiberatorRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body, input[type=text] {
  font-family: Georgia, Times, "Times New Roman", serif;
}

p, h1, h2, h3, h4, a, li, span {
  //text smoothing
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  text-rendering: optimizeLegibility;
  font-smoothing: subpixel-antialiased;
}

//Globals
body {
  background: image-url("bundle/big-stars.png") repeat-x fixed -100% -5%, image-url("bundle/small-stars.png") repeat-x fixed 20% 5%, image-url("bundle/diamonds-a.png") repeat-x fixed 10% 403px, image-url("bundle/diamonds-b.png") repeat-x fixed -10% 400px, image-url("bundle/diamonds-a.png") repeat-x fixed 10% bottom, image-url("bundle/diamonds-b.png") repeat-x fixed -10% bottom, $dark-grey;
}

p {
  font-size: 1.4em;
  line-height: 1.4em;
}

a:hover {
  opacity: 0.5;
}

.main-content {
  background: $cream;
}

//Structure
.site-header, .main-content, .site-footer-inside .site-footer {
  min-width: 980px;
  overflow: hidden;
}

.header-inside, .main-content-inside, .site-footer-inside {
  width: 960px;
  margin: 0 auto;
}

.yellow {
  color: $yellow;
}

.blue {
  color: $blue;
}

.red {
  color: $red;
}

.share {
  display: block;
  width: 81px;
  height: 35px;
  line-height: 25px;
  font-style: italic;
  background: $red;
  text-align: center;
  font-size: 1.2em;
  letter-spacing: 2px;
  opacity: 0.9;
  @include transition-all;
  top: 0px;
  right: 30px;
  padding: 10px 16px 0 16px;
  z-index: 500;
  position: fixed;

  &:hover li {
    color: #fff;
  }

  li {
    color: #8a4838;
    float: left;
    margin-left: 10px;

    &:first-child {
      margin: 0;
    }

  }

  a {
    display: block;
    width: 28px;
    height: 28px;
    background: image-url("bundle/social-icons.png") no-repeat top;
  }

  .twitter {
    background-position: 0px -28px;
  }

  &:hover {
    opacity: 1;
    padding-top: 15px;
    color: #fff;
  }

  span {
    display: none;
  }

  &:after {
    content: "";
    background: image-url("bundle/pattern-btm.png") repeat-x;
    height: 10px;
    width: 113px;
    position: absolute;
    bottom: -10px;
    left: 0px;
  }
}

//Header
.site-header {
  min-height: 439px;

  .header-inside {

  }

  .top-bar {
    padding-top: 42px;
    height: 100px;
    color: $cream;
    font-family: "WisdomScriptAIRegular", Georgia, Times, "Times New Roman", serif;
    background: image-url("bundle/top-bar-bg.png") no-repeat center;
    margin-bottom: 45px;
    position: relative;

    li {
      position: absolute;
      float: left;
      font-size: 2.4em;
      padding-top: 50px;

      &:last-child {
        float: right;
      }
    }

    a {
      color: $cream;
    }

    .buy-it {
      left: 0px;
    }

    .date {
      right: 0px;
    }
    .center {
      //display: block;
      //text-align: center;
      //width: 679px;
      font-size: 3.8em;
      padding-top: 38px;
      left: 352px;
    }
  }

  h1 {
    font-family: "SaturnVRegular", "Arial Black", "Arial Bold", Gadget, sans-serif;
    color: $cream;
    font-size: 10em;
    text-align: center;
    text-shadow: 0px 5px 0px #9e4040;
  }

  h2 {
    font-family: "LiberatorRegular", Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    font-size: 2.6em;
    letter-spacing: 0.5em;
    margin-bottom: 0.5em;

    a {
      color: $cream;
    }
  }
}

//Main content
.main-content-inside {
  padding: 40px 0 90px;
}

.sub-title {
  font-family: "WisdomScriptAIRegular", Georgia, Times, "Times New Roman", serif;
  font-size: 2.9em;
  text-align: center;
  background: image-url("bundle/lines.png") repeat-x bottom;
  //border-bottom: solid 2px $dark-cream;
  margin-bottom: 40px;
}

.packages {
  margin-bottom: 80px;

  li {
    width: 257px;
    float: left;
    margin-left: 94px;
    position: relative;

    &:first-child {
      margin: 0;
    }

    &:nth-child(1), &:nth-child(2) {
      &:after {
        content: "";
        width: 95px;
        height: 19px;
        //background: #000;
        position: absolute;
        top: 110px;
        right: -97px;
        background: image-url("bundle/divider-hr.png") no-repeat;
      }
    }

    h3 {
      font-family: "WisdomScriptAIRegular", Georgia, Times, "Times New Roman", serif;
      font-size: 3.2em;
      text-align: center;
      color: $dark-grey;
      margin-bottom: 5px;
    }

    h4 {
      font-family: "LiberatorRegular", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 1.8em;
      text-align: center;
      margin-bottom: 40px;
    }

    img {
      margin-bottom: 20px;
    }

    .read-more {
      display: block;
      height: 24px;
      line-height: 24px;
      width: 100%;
      margin: 0 auto;
      background: $dark-cream;
      font-size: 1.3em;
      letter-spacing: 0.4em;
      text-align: center;
      text-transform: uppercase;
      position: relative;
      color: $cream;

      &:before {
        content: "";
        position: absolute;
        width: 10px;
        height: 0;
        left: 0px;
        top: 0px;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-left: 12px solid #E7EDDE;
      }

      &:after {
        content: "";
        position: absolute;
        width: 10px;
        height: 0;
        right: 0px;
        top: 0px;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-right: 12px solid #E7EDDE;
      }
    }

    .peep {
      background: $yellow;
    }

    .codeschool {
      background: $blue;
    }

    .recipies {
      background: $red;
    }

    .snazzy-box {
      border-width: 21px;
      border-image: url("bundle/corners.png") 21 repeat;
      position: relative;
      margin-bottom: 25px;

      &:before {
        content: "";
        width: 30px;
        height: 19px;
        display: block;
        margin: -39px auto 20px auto;
        background: image-url("bundle/tip.png") no-repeat;
      }

      .inside {
        background: $dark-cream;
        height: 210px;
      }

      img {
        margin-bottom: 10px;
      }

      p {
        text-align: center;
      }
    }
  }
}

.payment-box {
  padding: 10px;
  min-height: 340px;
  width: 500px;
  margin: 0 auto;
  border-width: 24px 23px 27px 26px;
  border-image: url("bundle/corners2.png") 24 23 27 26 repeat;
  position: relative;

  &:before {
    content: "";
    width: 385px;
    height: 272px;
    background: image-url("bundle/ray-gun.png") no-repeat;
    position: absolute;
    left: -450px;
    top: 15px;
  }

  &:after {
    content: "";
    width: 385px;
    height: 272px;
    background: image-url("bundle/ray-gun2.png") no-repeat;
    position: absolute;
    right: -450px;
    top: 15px;
  }

  h2 {
    font-size: 2em;
    letter-spacing: 0.2em;
    line-height: 1.5em;
    text-transform: uppercase;
  }

  .advice {
    font-style: italic;
    color: $red;
    font-size: 1.6em;
  }

  .recipt-text {
    font-size: 1.6em;
    margin-bottom: 25px;

    a {
      color: $blue;
    }
  }

  .top-box {
    position: relative;
    padding-top: 5px;
    padding-left: 120px;
    margin-bottom: 25px;
    min-height: 107px;
    background: image-url("bundle/lines.png") repeat-x bottom;

    &:before {
      content: "";
      display: block;
      width: 97px;
      height: 97px;
      background: image-url("bundle/value-badge.png") no-repeat;
      position: absolute;
      left: 0px;
      top: -4px;
      float: left;
      margin-right: 30px;
    }
  }

  .top-box2 {
    position: relative;
    padding-top: 5px;
    //padding-left: 120px;
    margin-bottom: 25px;
    padding-bottom: 25px;
    //min-height: 107px;
    background: image-url("bundle/lines.png") repeat-x bottom;

    h2 {
      margin-bottom: 10px;
    }

  }

  .slider {
    background: image-url("bundle/slider-bg.jpg") repeat;
    height: 60px;
    width: 100%;
    @include border-radius(6px);
    margin-bottom: 20px;
  }

  .slide-text {
    font-family: "WisdomScriptAIRegular", Georgia, Times, "Times New Roman", serif;
    font-size: 3em;
    text-align: center;
  }

  .bx-btm {
    &:before {
      content: "";
      display: block;
      width: 91px;
      height: 48px;
      background: image-url("bundle/box-top.png") no-repeat;
      position: absolute;
      left: 210px;
      bottom: -70px;
    }
  }

  .pay-details {
    font-family: "LiberatorRegular", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.8em;
    letter-spacing: 0.1em;
    color: $dark-grey;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background: image-url("bundle/lines.png") repeat-x bottom;

    .amount {
      font-family: "WisdomScriptAIRegular", Georgia, Times, "Times New Roman", serif;
      font-size: 2em;
    }
  }

  .buy-bundle {
    display: block;
    height: 46px;
    line-height: 45px;
    width: 100%;
    margin: 0 auto;
    background: $red;
    font-size: 1.8em;
    letter-spacing: 0.4em;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    color: $cream;
    font-family: "georiga";

    &:before {
      content: "";
      position: absolute;
      width: 10px;
      height: 0;
      left: 0px;
      top: 0px;
      border-top: 23px solid transparent;
      border-bottom: 23px solid transparent;
      border-left: 23px solid #E7EDDE;
    }

    &:after {
      content: "";
      position: absolute;
      width: 10px;
      height: 0;
      right: 0px;
      top: 0px;
      border-top: 23px solid transparent;
      border-bottom: 23px solid transparent;
      border-right: 23px solid #E7EDDE;
    }
  }

  .final-share {
    overflow: auto;
    padding-top: 25px;

    .fb-like {
      width: 60px !important;
    }

    li {
      float: left;

      &:first-child {
        margin-right: 25px;
      }
    }
  }

  .form-rows {

    li {
      margin-bottom: 15px;
      font-size: 1.4em;
      overflow: auto;
      border-bottom: 1px dashed #D3D9CB;
      line-height: 2em;
      padding-bottom: 1em;

      label {
        float: left;
        width: 190px;
      }

      input[type=text] {
        float: left;
        padding: 10px;
        background: image-url("bundle/slider-bg.jpg") repeat;
        @include border-radius(4px);
        border: 0;
        outline: none;
        width: 290px;
        box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
      }

      input[type=submit] {
        border: 0;
        display: block;
        font-size: 1.6em;
        position: static;
      }
    }

    .small input[type=text] {
      width: 50px !important;
    }

    .submit-row {
      width: 100%;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        width: 10px;
        height: 0;
        left: 0px;
        top: 0px;
        border-top: 23px solid transparent;
        border-bottom: 23px solid transparent;
        border-left: 23px solid #E7EDDE;
      }

      &:after {
        content: "";
        position: absolute;
        width: 10px;
        height: 0;
        right: 0px;
        top: 0px;
        border-top: 23px solid transparent;
        border-bottom: 23px solid transparent;
        border-right: 23px solid #E7EDDE;
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

//footer

.site-footer {
  //height: 800px;
  padding: 40px 0 70px 0;
  //margin-bottom: 40px;
  background: linear-gradient(to bottom, rgba(48, 48, 48, 1) 61%, rgba(48, 48, 48, 0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#303030', endColorstr='#00303030', GradientType=0); /* IE6-9 */

}

.site-footer-inside {

  .footer-stuff {
    background: image-url("bundle/divider-vr.png") no-repeat center;
    li {
      width: 400px;
      float: left;

      &:last-child {
        float: right;
      }

      img {
        float: left;
        margin-right: 30px;
      }

      a {
        color: $cream;
        text-transform: uppercase;
        font-size: 1.6em;
        letter-spacing: 0.2em;
        line-height: 1.6em;
        display: block;
      }

      span {
        padding-top: 30px;
        float: right;
        width: 200px;
      }
    }
  }
}

#payment-errors {
  color: $cream;
  background: #e01515;
  font-size: 1.4em;
  padding: 5px;
  @include border-radius(6px);
  margin-bottom: 20px;
  text-align: center;
}

.ui-slider {
  position: relative;
  top: 25px;
  left: 50px;
  width: 80%;
  color: $cream !important;
}

.ui-slider-horizontal {
  background: $dark-cream no-repeat scroll 50% 50%;
}

.ui-slider-horizontal .ui-state-default {
  background: $red no-repeat scroll 50% 50%;
  color: $red !important;
}

.ui-slider-handle {
  width: 4em !important;
  height: 2em !important;
  top: -0.6em !important;
  outline: none !important;
  border: 0 !important;
  background: $dark-grey image-url("bundle/arrow.png") no-repeat center !important;

  &:hover {
    opacity: 1 !important;
    border: 0 !important;
    background: $red image-url("bundle/arrow.png") no-repeat center !important;
    cursor: pointer;
  }

  &:focus {
    background: $red image-url("bundle/arrow.png") no-repeat center !important;
    cursor: pointer;
  }
}

.hide {
  display: none;
}
