@import  "fonts","base","compass/css3", "materialize";

nav {
  .nav-wrapper  {
    ul li a img {
      max-height: 64px;
    }
  }
}

.logo {
  margin-top: 17px;
  margin-left: 15px;
  width: 182px;
  height: 27px;
  display: block;
  background: image-url("logo.png") no-repeat;
  text-rendering: optimizeLegibility;
  font-smoothing: subpixel-antialiased;
  transition: all 0.2s ease-out;
  span {
    display: none;
  }
  &:hover {
    opacity: 0.8;
  }
}

.bg-primary {
  background-color: #d95626;
  color: #fff;
  .container {
    .row {
      margin-bottom: 0;
      .text-center {
        margin: 0;
        text-align: center;
        padding: 5px;
        a{
          color: #fff;
          &:hover{
            text-decoration: underline !important;
          }
          &.close{
            padding: 0px 10px;
            background-color: #AD2E00;
            float: right;
            &:hover{
              background-color: #AD0202 !important;
            }
          }
        }
      }
    }
  }
}

footer{
  .right_part{
    text-align: right;
  }
  .copyright,.credits {
    color: #444;
    text-align: center;
  }
}

.info-post{
  color: #fff !important;
  background-color: #26a69a;
  padding: 10px
}

.no_margin{
  margin: 0;
}

.no_shadow{
   box-shadow: none !important;

}

.bark_background{
  background-color: #9e9e9e;
}
.clearboth {
  clear: both;
}
.notification-bar-inside {
  margin: 0 auto;
  width: 100%;
  background-color: #26A69A;
  padding: 10px;
  color: #FFFFFF;
  p {
    display: inline-block;
  }
  a.close-notification  {
    display: inline-block;
    float: right;
    background-color: #E66167;
    padding: 10px;
    color: #FFFFFF;
    &:hover{
      background-color: #CE4046;
    }
  }
}

#member-settings{
  ul.linked-accounts{
    text-align: center;
    li{
      display: inline-block;
      padding: 20px;
      height: 200px;
      border: 1px solid #ddd;
      vertical-align: top;
      margin-bottom: 3px;
      i.fa-github-square{
      }
      i.fa-twitter-square{
        color: #03C1E6;
      }
      i.fa-linkedin-square{
        color: #1278AB;
      }
    }
  }
  .special-setting{
    div{
      display: inline-block;
      margin-right: 10px;
      vertical-align: top;
    }
  }
  .setting{
    padding: 20px 0;
    border-bottom: 2px dotted #e6e6e6;
    margin-bottom: 15px;
  }
  .collection {
    .collection-item.avatar {
      .title {
        background-color: #FBF9F9;
        display: block;
      }
    }
  }
  .collapsible {
    >li.active {
      box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
    }
    .collapsible-header i{
      margin-right: 15px;
      img{
        height: 43px;
      }
    }
    form{
      padding: 20px;
    }
  }
  ul.tabs{
    margin-top: 50px;
  }
  .tab_content{
    margin-top: 10px;
  }
  ul.email_list{
    color: #505050;
    font-size: 13px;
    li{
      i {
        font-size: 13px;
      }
    }
  }
  .profile_card{
    .card-image {
      min-height: 300px;
    }
    .card-title {
      color: #000;
      font-size: 14px;
      .avatar{
      }
    }
  }
}
