@import "base";
@import "compass/css3";

.ribbon-title {
  width: 516px;
  height: 59px;
  background: image-url("leaderboard/ribbon.png") no-repeat;
  margin: -20px auto 50px auto;

  span {
    display: none;
  }
}

.leader-board {
  @include paper-panel;
  @include border-radius(3px);
  width: 800px;
  margin: 0 auto;

  img {
    border: 2px solid #fff;
    @include subtle-box-shadow;
  }

  .leader-board-head {

    border-bottom: 1px solid #e6e6e6;

    li {
      float: left;
      padding: 30px 0 30px 30px;
      background: image-url("leaderboard/vr.png") no-repeat left;

      &:first-child {
        background: none;
      }
    }

    .rank {
      width: 95px;
    }

    .team {
      width: 265px;
    }

    .members {
      width: 225px;
    }

    .score {
      width: 95px;
    }

    h2 {
      font-size: 1.8em;
    }

  }

  .team-list {

    > li {
      height: 90px;
      line-height: 90px;
      border-bottom: 1px solid #e6e6e6;
      border-top: 1px solid #fff;
      position: relative;

      &:nth-child(2n+1) {
        background: #fff;
      }

      &:last-child {
        @include border-radius-bottom(3px);
      }

      img {
        vertical-align: middle;
      }

      a.hiring-ribbon {
        position: absolute;
        z-index: 100;
        width: 76px;
        height: 77px;
        top: -7px;
        right: -5px;
        background: image-url("team/hiring.png") no-repeat;

        span {
          display: none;
        }
      }
    }

    div {
      float: left;
      padding: 0 0 0 30px;
    }

    .rank {
      width: 95px;

      h3 {
        color: $light-grey;
      }
    }

    .team {
      width: 265px;

      a {
        font-size: 1.8em;
        color: $light-blue;
        line-height: 0px;
        vertical-align: middle;
        @include transition-all;

        span {
          width: 200px;
          text-overflow: hidden;

        }

        img {
          margin-right: 20px;
          width: 40px;
          height: 40px;
          overflow: hidden;
        }

        &:hover {
          opacity: 0.8;
          color: #000;
        }
      }
    }

    .members {
      width: 225px;
      margin-bottom: 0;

      ul {
        float: left;
      }

      li {
        float: left;
        margin-left: 10px;

        &:first-child {
          margin: 0;
        }

      }

      span {
        //float: left;
        //display: inline-block;
        margin-left: 20px;
        padding: 5px;
        background: #fff;
        border: solid 1px #e6e6e6;
        line-height: 0px;
        vertical-align: middle;
        @include border-radius(6px);

      }

      a {
        @include transition-all;

        &:hover {
          opacity: 0.5;
        }
      }
    }

    .score {
      width: 95px;

      span {
        font-size: 2.6em;
        color: $light-blue;
        line-height: 0px;
        vertical-align: middle;
        font-family: "MuseoSans-500";
      }
    }

    .extended a {
      font-size: 1.6em !important;
      display: block;
      width: 400px;
      margin: 15px auto 0 auto;
      @include blue-btn;
      @include border-radius(6px);
      @include ts-top-black;
      height: 58px;
      line-height: 58px;
      text-align: center;
      @include transition-all;

      &:hover {
        opacity: 0.8;
      }

    }

  }
}

.pagination {
  //width: 800px;
  margin: 0 auto;
  padding-top: 20px;

  span {
    font-size: 1.6em;
    @include ts-bottom-white;
    padding-right: 40px;

  }

  .current {
    color: $light-blue;
  }

  a {
    color: #8ea4af;

    height: 32px;
    line-height: 32px;
    //background: image-url("leaderboard/next-prev.png") no-repeat top right;
    @include transition-all;

    &:hover {
      opacity: 0.5;
    }
  }

  .next {
    float: right;
    padding: 0;
  }

  .prev {
    float: left;
    background-position: bottom left;
    //padding: 0 0 0 40px;
  }
}