/* reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  zoom: 1;
}

:focus {
  outline: 0;
}

body {
  color: #000;
  background: #fff;
}

ol, ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */

table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

blockquote {
  &:before, &:after {
    content: "";
  }
}

q {
  &:before, &:after {
    content: "";
  }
}

blockquote, q {
  quotes: "" "";
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

/***** Global Classes *****/

.clear {
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  border-bottom: 1px solid;
}

.highlight {
  background: #ffc;
}

.wrap {
  width: 960px;
  margin: 0 auto;
}

.img-left {
  float: left;
  margin: 4px 10px 4px 0;
}

.img-right {
  float: right;
  margin: 4px 0 4px 10px;
}

.nopadding {
  padding: 0;
}

.noindent {
  margin-left: 0;
  padding-left: 0;
}

.nobullet {
  list-style: none;
  list-style-image: none;
}

img, a img {
  &.alignright {
    float: right;
    margin: 0 0 1em 1em;
  }
  &.alignleft {
    float: left;
    margin: 0 1em 1em 0;
  }
  &.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.clearfix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  display: inline-block;
}

/* Hides from IE-mac \*/

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* End hide from IE-mac */
