link rel = 'icon' href = image_url('favicon.png') type = 'image/x-icon'
link rel = 'icon' href = image_url('fav32x32.png')  type = 'image/x-icon' sizes = '32x32'
link rel = 'icon' href = image_url('fav64x64.png') type = 'image/x-icon'  sizes = '64x64'
link rel = 'icon' href = image_url('fav128x128.png') type = 'image/x-icon'  sizes = '128x128'
link rel = 'shortcut icon'  href = image_url('favicon.png') type = 'image/x-icon'