!!! 5
%html.no-js{lang: "en"}
  %head
    = stylesheet_link_tag 'application'
    = yield :head
  %body.change-the-ratio
    %header.ratio-header
      .ratio-header-inside
        %a.ratio-logo{href: "/"} coderwall
        %nav.top-nav
          %ul
            %li
              %a{href: "/"} Share
            %li
              %a{href: "/"} Sign-up
    =yield
    %footer.ratio-footer
      .ratio-footer-inside
        %p.geek-cred
          %a{href: "/"}
            Establish your geek cred

